In [3]:
import pandas as pd
import numpy as np
import glob, sys, os, time , itertools , warnings , re , json
from bs4 import BeautifulSoup
from tqdm import tqdm
import matplotlib.pyplot as plt
import multiprocessing as mp
# from DataProcessing import 
import uszipcode , pickle 
from TempFolder.TempFolder import Temp


import plotly.figure_factory as ff
# importing all necessary libraries 
import chart_studio.plotly as py 
import plotly.graph_objs as go 
import pandas as pd 
  
# some more libraries to plot graph 
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot, plot 
# To establish connection 
init_notebook_mode(connected = True) 


warnings.filterwarnings('ignore')

with open('nogit\\path','r') as f:
    path_to_csv = f.read()
path_to_processed_csv =path_to_csv + 'SC-csv\\'
Temp.set_path(path_to_csv +'SC-temp\\')
path_to_temp_csv = path_to_csv+'SC-working-folder\\'
colummn_names = ['Description'
                 ,'Title State/Type'
                 ,'Location'
                 ,'null'
                 ,'Auction Date'
                 ,'Actual Cash Value'
                 ,'Repair Cost'
                 ,'Odometer'
                 ,'Prim Damage'
                 ,'Sec Damage'
                 ,'Price Sold or Highest Bid']
path_to_makes = glob.glob(path_to_csv+'Cars\\*')
search = uszipcode.SearchEngine(simple_zipcode=True)
path_to_all_years = list(itertools.chain.from_iterable([glob.glob(path+'\\*') for path in path_to_makes]))
search = uszipcode.SearchEngine(simple_zipcode=True)

#CPI Data
path_to_cpi = path_to_csv+'US-CPI\\SeriesReport-20191118124049_549fff.xlsx'
cpi_df = pd.read_excel(path_to_cpi,skiprows=11,index_col=0)['Annual']#[:-2]

In [5]:
print('CPI data:' , cpi_df.to_string())

CPI data: Year
1990    130.700
1991    136.200
1992    140.300
1993    144.500
1994    148.200
1995    152.400
1996    156.900
1997    160.500
1998    163.000
1999    166.600
2000    172.200
2001    177.100
2002    179.900
2003    184.000
2004    188.900
2005    195.300
2006    201.600
2007    207.342
2008    215.303
2009    214.537
2010    218.056
2011    224.939
2012    229.594
2013    232.957
2014    236.736
2015    237.017
2016    240.007
2017    245.120
2018    251.107
2019    255.657

In [6]:
# #%%time
# '''
# Parse the HTML files
# '''

# #
# #Read and parse scraped .html files 
# def process_files(path_to_years__):
#     res_df = pd.DataFrame()
#     #for each make/year folder get a list of all .html files
#     #for path_to__year in tqdm(path_to_years__):
#     for path_to__year in path_to_years__:
#         try:
#             #list of all html
#             path_to_make_years = glob.glob(path_to__year+'/*')

#             #for each .html in the folder
#             for file_path in path_to_make_years:
#             #file_path = path_to_make_years[0]
            
#                 #read file and load to the BS object
#                 with open(file_path, 'r') as f:
#                     fle = f.read()
#                 soup = BeautifulSoup(fle)

#                 rows = []
#                 line_ind = 0 
                
#                 #filter all div elements (div table)
#                 for div in soup.find_all('div',['row']):
#                     row = div.text.strip()
#                     #print(row)
#                     try:
#                         line_dict = {}
#                         i = 0
                        
#                         #clean each element and map to respected column
#                         for line in row.replace('\t','').replace('\xa0','').split('\n'):
#                             line_dict[colummn_names[i]]= line.replace('Location:','').replace('Title State/Type:','').strip()
#                             i+=1
#                         rows.append(line_dict)
#                     except Exception as e:
#                         #print(line_ind,'-',e)
#                         pass
#                     finally:
#                         line_ind+=1

#                 page_df = pd.DataFrame(rows).iloc[3:,:-1]
#                 page_df_ext = page_df.join(page_df['Description'].str.split(' ',expand=True).rename(columns={0:'Year',1:'Make',2:'Model',3:'Model 2',4:'Model 3'}))
#                 page_df_ext = page_df_ext.join(page_df_ext['Location'].str.split('-',expand=True).rename(columns={0:'State',1:'City'}))
#                 page_df_ext['City'] = page_df_ext['City'].str.strip().str.capitalize()
#                 page_df_ext['State'] = page_df_ext['State'].str.strip()
#                 res_df = res_df.append(page_df_ext,ignore_index=True,sort=False)
#                 del rows , page_df_ext , page_df
#         except:
#             continue
#     return res_df


# if __name__ == '__main__':
#     print('# files to concat' , len(path_to_all_years))
#     NCPU = mp.cpu_count()
#     print('Creating pool with ', NCPU,' CPUs')
#     pool = mp.Pool(processes=4)
#     # if not os.path.exists(path_to_processed_csv):
#     #     print('Creating output folder')
#     #     os.makedirs(path_to_processed_csv)
    
#     by_chunk_path_to_all_years = np.array_split(path_to_all_years,len(path_to_all_years) // NCPU )
#     start_ = 0
#     end_ = len(by_chunk_path_to_all_years)
#     for i in range(start_,end_):
#         print('Starting with chunk: ',i,' of ',end_)
#         path_to_all_years_split = np.array_split(by_chunk_path_to_all_years[i],NCPU)
#         ress = pool.map(process_files,path_to_all_years_split)
#         ress_df = pd.concat(ress)
#         print('Chunk ',i,' is done.')
#         ress_df.to_csv(path_to_processed_csv+'sc_'+str(i)+'.csv',index=False)
# #         i+=1
# #         if i ==2:
# #             break
#     pool.close()
#     pool.join()
#     print('all work is done')

In [7]:
#Read parsed files
outputs = glob.glob(path_to_processed_csv+'*')
out_l = []
errs = []
for output in tqdm(outputs):
    try:
#     print(output)
        out_l.append(pd.read_csv(output))
    except:
        errs.append(output)
out_df = pd.concat(out_l,ignore_index=True,sort=False)

if len(errs) >0:
    print('Errors:', errs)

100%|██████████| 321/321 [00:05<00:00, 56.32it/s]
Errors: ['c:\\data\\Datasets\\SC-csv\\sc_0.csv', 'c:\\data\\Datasets\\SC-csv\\sc_1.csv', 'c:\\data\\Datasets\\SC-csv\\sc_2.csv', 'c:\\data\\Datasets\\SC-csv\\sc_3.csv', 'c:\\data\\Datasets\\SC-csv\\sc_4.csv', 'c:\\data\\Datasets\\SC-csv\\sc_5.csv', 'c:\\data\\Datasets\\SC-csv\\sc_6.csv', 'c:\\data\\Datasets\\SC-csv\\sc_7.csv']

In [8]:
print(out_df.columns)

row_size = out_df.shape[0]

print('Raw dataset size: ',row_size)


out_df.head(50)

Index(['Actual Cash Value', 'Auction Date', 'Description', 'Location',
       'Odometer', 'Price Sold or Highest Bid', 'Prim Damage', 'Repair Cost',
       'Sec Damage', 'Title State/Type', 'Year', 'Make', 'Model', 'Model 2',
       'State', 'City', 'Model 3', '2', '5'],
      dtype='object')
Raw dataset size:  1048104

,Actual Cash Value,Auction Date,Description,Location,Odometer,Price Sold or Highest Bid,Prim Damage,Repair Cost,Sec Damage,Title State/Type,Year,Make,Model,Model 2,State,City,Model 3,2,5
0,"$ 5,649 USD",10/02/2019,1992 Acura INTEGRA GS,KY - LEXINGTON WEST,146073 A,"$ 3,750 USD",Front end,NaN,NaN,FL RB,1992,Acura,INTEGRA,GS,KY,Lexington west,NaN,NaN,NaN
1,NaN,06/18/2019,1992 Acura INTEGRA LS,CA - SAN JOSE,182250 E,$ 300 USD,Minor dent/scratches,NaN,NaN,CA CQ,1992,Acura,INTEGRA,LS,CA,San jose,NaN,NaN,NaN
2,NaN,05/24/2019,1992 Acura VIGOR GS,NJ - SOMERVILLE,188301 A,$ 575 USD,Front end,NaN,Mechanical,NJ CT,1992,Acura,VIGOR,GS,NJ,Somerville,NaN,NaN,NaN
3,$ 725 USD,11/26/2018,1992 Acura INTEGRA GS,WA - NORTH SEATTLE,300930 E,$ 325 USD,Front end,NaN,Mechanical,WA CT,1992,Acura,INTEGRA,GS,WA,North seattle,NaN,NaN,NaN
4,"$ 1,450 USD",09/12/2018,1992 Acura INTEGRA LS,NY - LONG ISLAND,260216 E,$ 300 USD,Front end,NaN,NaN,NY CT,1992,Acura,INTEGRA,LS,NY,Long island,NaN,NaN,NaN
5,"$ 3,250 USD",12/20/2017,1992 Acura VIGOR GS,CA - MARTINEZ,205852 E,$ 175 USD,Minor dent/scratches,NaN,Side,CA DQ,1992,Acura,VIGOR,GS,CA,Martinez,NaN,NaN,NaN
6,NaN,12/08/2016,1992 Acura LEGEND L,MN - MINNEAPOLIS,144195 E,$ 125 USD,MECHANICAL,NaN,HAIL,MN CT,1992,Acura,LEGEND,L,MN,Minneapolis,NaN,NaN,NaN
7,"$ 1,960 USD",09/13/2016,1992 Acura INTEGRA LS,TN - KNOXVILLE,309149 E,$ 975 USD,SIDE,NaN,NaN,TN CT,1992,Acura,INTEGRA,LS,TN,Knoxville,NaN,NaN,NaN
8,NaN,07/25/2016,1992 Acura LEGEND LS,MD - BALTIMORE,104173 A,$ 150 USD,MINOR DENT/SCRATCHES,NaN,NORMAL WEAR,MD CT,1992,Acura,LEGEND,LS,MD,Baltimore,NaN,NaN,NaN
9,NaN,07/19/2016,1992 Acura LEGEND L,NJ - GLASSBORO EAST,131385 A,$ 200 USD,NORMAL WEAR,NaN,NaN,NJ CT,1992,Acura,LEGEND,L,NJ,Glassboro east,NaN,NaN,NaN
10,NaN,07/13/2016,1992 Acura LEGEND L,CA - MARTINEZ,168702 A,$ 500 USD,FRONT END,NaN,NaN,CA ST,1992,Acura,LEGEND,L,CA,Martinez,NaN,NaN,NaN
11,"$ 1,803.74 USD",05/18/2015,1992 Acura LEGEND L,FL - MIAMI CENTRAL,233596 A,$ 425 USD,FRONT END,"$ 1,803.74 USD",SIDE,FL CD,1992,Acura,LEGEND,L,FL,Miami central,NaN,NaN,NaN
12,NaN,02/20/2015,1992 Acura LEGEND L,MO - ST. LOUIS,142905 E,$ 575 USD,MINOR DENT/SCRATCHES,NaN,NaN,MO CT,1992,Acura,LEGEND,L,MO,St. louis,NaN,NaN,NaN
13,"$ 4,950 USD",11/10/2014,1992 Acura INTEGRA LS,AZ - PHOENIX,178757 A,"$ 1,200 USD",HAIL,NaN,NaN,AZ CT,1992,Acura,INTEGRA,LS,AZ,Phoenix,NaN,NaN,NaN
14,NaN,08/08/2014,1992 Acura LEGEND L,CA - VALLEJO,197111 A,$ 550 USD,FRONT END,NaN,NaN,CA CQ,1992,Acura,LEGEND,L,CA,Vallejo,NaN,NaN,NaN
15,"$ 2,000 USD",07/01/2014,1992 Acura LEGEND LS,GA - ATLANTA SOUTH,139640 E,$ 825 USD,FRONT END,NaN,NaN,GA CT,1992,Acura,LEGEND,LS,GA,Atlanta south,NaN,NaN,NaN
16,"$ 3,000 USD",07/01/2014,1992 Acura LEGEND L,VA - HAMPTON,196143 A,$ 950 USD,NORMAL WEAR,NaN,NaN,VA CT,1992,Acura,LEGEND,L,VA,Hampton,NaN,NaN,NaN
17,NaN,04/29/2014,1992 Acura VIGOR GS,CA - SAN JOSE,216614 A,$ 500 USD,MECHANICAL,NaN,ALL OVER,CA SC,1992,Acura,VIGOR,GS,CA,San jose,NaN,NaN,NaN
18,"$ 2,000 USD",01/07/2014,1992 Acura LEGEND L,CA - SACRAMENTO,194944 A,$ 900 USD,MINOR DENTS/SCRATCHE,NaN,NaN,CA CQ,1992,Acura,LEGEND,L,CA,Sacramento,NaN,NaN,NaN
19,"$ 5,500 USD",12/12/2013,1992 Acura INTEGRA LS,NV - LAS VEGAS,223433 E,$ 500 USD,MINOR DENTS/SCRATCHE,NaN,NaN,NV CT,1992,Acura,INTEGRA,LS,NV,Las vegas,NaN,NaN,NaN
20,NaN,11/15/2013,1992 Acura LEGEND L,TX - EL PASO,260423 E,"$ 7,000 USD",SIDE,NaN,NaN,TX CT,1992,Acura,LEGEND,L,TX,El paso,NaN,NaN,NaN
21,"$ 38,000 USD",11/12/2013,1992 Acura NSX,CA - RANCHO CUCAMONGA,93721 E,"$ 27,000 USD",MECHANICAL,NaN,NaN,CA CQ,1992,Acura,NSX,NaN,CA,Rancho cucamonga,NaN,NaN,NaN
22,"$ 2,995 USD",10/04/2013,1992 Acura LEGEND L,UT - SALT LAKE CITY,135986 E,"$ 1,000 USD",SIDE,NaN,NaN,UT CT,1992,Acura,LEGEND,L,UT,Salt lake city,NaN,NaN,NaN
23,"$ 1,900 USD",08/06/2013,1992 Acura INTEGRA GS,CO - DENVER,197187 A,"$ 1,200 USD",FRONT END,NaN,NaN,CO CT,1992,Acura,INTEGRA,GS,CO,Denver,NaN,NaN,NaN
24,"$ 4,200 USD",06/19/2013,1992 Acura LEGEND L,LA - NEW ORLEANS,120278 E,$ 600 USD,MECHANICAL,NaN,SIDE,LA RC,1992,Acura,LEGEND,L,LA,New orleans,NaN,NaN,NaN
25,"$ 3,500 USD",04/23/2013,1992 Acura LEGEND LS,CA - SAN JOSE,237853 E,"$ 1,100 USD",MINOR DENTS/SCRATCHE,NaN,NaN,CA CQ,1992,Acura,LEGEND,LS,CA,San jose,NaN,NaN,NaN
26,NaN,03/26/2013,1992 Acura LEGEND LS,NJ - GLASSBORO EAST,220560 A,$ 600 USD,MECHANICAL,NaN,NaN,NJ CT,1992,Acura,LEGEND,LS,NJ,Glassboro east,NaN,NaN,NaN
27,NaN,03/13/2013,1992 Acura LEGEND L,CA - MARTINEZ,193346 A,$ 700 USD,MINOR DENTS/SCRATCHE,NaN,NaN,CA CQ,1992,Acura,LEGEND,L,CA,Martinez,NaN,NaN,NaN
28,"$ 4,000 USD",02/25/2013,1992 Acura LEGEND LS,CA - LOS ANGELES,130752 E,"$ 1,000 USD",MINOR DENTS/SCRATCHE,NaN,NaN,CA ST,1992,Acura,LEGEND,LS,CA,Los angeles,NaN,NaN,NaN
29,NaN,12/04/2012,1992 Acura INTEGRA GS,CA - RANCHO CUCAMONGA,187570 E,"$ 1,900 USD",MECHANICAL,NaN,NaN,CA ST,1992,Acura,INTEGRA,GS,CA,Rancho cucamonga,NaN,NaN,NaN
30,"$ 2,500 USD",11/02/2012,1992 Acura LEGEND,CA - VAN NUYS,161073 E,$ 900 USD,FRONT END,NaN,NaN,CA CQ,1992,Acura,LEGEND,NaN,CA,Van nuys,NaN,NaN,NaN
31,"$ 2,500 USD",10/02/2012,1992 Acura INTEGRA LS,NE - LINCOLN,162274 E,$ 750 USD,MECHANICAL,NaN,NaN,MN CT,1992,Acura,INTEGRA,LS,NE,Lincoln,NaN,NaN,NaN
32,"$ 3,500 USD",08/27/2012,1992 Acura INTEGRA GS,CA - LOS ANGELES,145087 E,"$ 1,000 USD",STRIPPED,NaN,MINOR DENTS/SCRATCHES,CA CQ,1992,Acura,INTEGRA,GS,CA,Los angeles,NaN,NaN,NaN
33,"$ 4,000 USD",07/09/2012,1992 Acura LEGEND LS,WA - NORTH SEATTLE,229662 E,"$ 3,000 USD",SIDE,NaN,NaN,WA AL,1992,Acura,LEGEND,LS,WA,North seattle,NaN,NaN,NaN
34,"$ 28,500 USD",06/26/2012,1992 Acura NSX,MN - MINNEAPOLIS NORTH,73574 E,"$ 16,000 USD",NORMAL WEAR,NaN,NaN,MN SH,1992,Acura,NSX,NaN,MN,Minneapolis north,NaN,NaN,NaN
35,"$ 3,375 USD",10/03/2019,1993 Acura LEGEND L,NV - RENO,148007 E,$ 200 USD,Side,NaN,NaN,NV CT,1993,Acura,LEGEND,L,NV,Reno,NaN,NaN,NaN
36,"$ 47,403 USD",10/02/2019,1993 Acura NSX,NY - SYRACUSE,240690 E,"$ 21,000 USD",Side,NaN,Rear end,TX SV,1993,Acura,NSX,NaN,NY,Syracuse,NaN,NaN,NaN
37,NaN,09/30/2019,1993 Acura LEGEND LS,MD - BALTIMORE,213826 A,$ 400 USD,Mechanical,NaN,Minor dent/scratches,MD CT,1993,Acura,LEGEND,LS,MD,Baltimore,NaN,NaN,NaN
38,NaN,09/23/2019,1993 Acura INTEGRA GS,WA - NORTH SEATTLE,226674 E,$ 275 USD,Mechanical,NaN,NaN,WA AL,1993,Acura,INTEGRA,GS,WA,North seattle,NaN,NaN,NaN
39,"$ 1,583 USD",03/21/2019,1993 Acura INTEGRA RS,CA - SAN BERNARDINO,236608 A,$ 200 USD,Mechanical,NaN,NaN,CA SC,1993,Acura,INTEGRA,RS,CA,San bernardino,NaN,NaN,NaN
40,"$ 2,043 USD",01/22/2019,1993 Acura VIGOR GS,CA - FRESNO,181958 A,$ 125 USD,Front end,"$ 4,802 USD",Side,CA SC,1993,Acura,VIGOR,GS,CA,Fresno,NaN,NaN,NaN
41,$ 625 USD,07/25/2018,1993 Acura INTEGRA LS,CA - MARTINEZ,174906 E,$ 275 USD,Front end,NaN,NaN,CA SH,1993,Acura,INTEGRA,LS,CA,Martinez,NaN,NaN,NaN
42,"$ 3,375 USD",07/10/2018,1993 Acura LEGEND L,OK - OKLAHOMA CITY,266040 E,$ 250 USD,Minor dent/scratches,NaN,Front end,OK CT,1993,Acura,LEGEND,L,OK,Oklahoma city,NaN,NaN,NaN
43,"$ 2,790 USD",05/30/2018,1993 Acura INTEGRA,CA - MARTINEZ,283082 E,$ 500 USD,Front end,NaN,NaN,CA CQ,1993,Acura,INTEGRA,NaN,CA,Martinez,NaN,NaN,NaN
44,"$ 1,100 USD",01/19/2018,1993 Acura LEGEND LS,CA - VALLEJO,114922 E,$ 200 USD,Minor dent/scratches,NaN,Mechanical,CA CQ,1993,Acura,LEGEND,LS,CA,Vallejo,NaN,NaN,NaN
45,"$ 3,183 USD",02/07/2017,1993 Acura INTEGRA LS,WA - GRAHAM,171474 E,$ 150 USD,FRONT END,"$ 2,959.96 USD",SIDE,WA BS,1993,Acura,INTEGRA,LS,WA,Graham,NaN,NaN,NaN
46,"$ 1,500 USD",11/21/2016,1993 Acura LEGEND L,WA - NORTH SEATTLE,256979 E,$ 125 USD,FRONT END,NaN,NaN,WA CT,1993,Acura,LEGEND,L,WA,North seattle,NaN,NaN,NaN
47,NaN,08/30/2016,1993 Acura LEGEND L,CA - SACRAMENTO,257644 E,$ 500 USD,FRONT END,NaN,NaN,CA CQ,1993,Acura,LEGEND,L,CA,Sacramento,NaN,NaN,NaN
48,"$ 2,792 USD",08/03/2016,1993 Acura LEGEND L,OR - PORTLAND NORTH,171811 A,$ 125 USD,FRONT END,"$ 3,255.38 USD",MINOR DENT/SCRATCHES,OR SC,1993,Acura,LEGEND,L,OR,Portland north,NaN,NaN,NaN
49,$ 750 USD,05/17/2016,1993 Acura LEGEND L,WA - GRAHAM,201177 E,$ 300 USD,SIDE,NaN,UNDERCARRIAGE,WA AL,1993,Acura,LEGEND,L,WA,Graham,NaN,NaN,NaN

In [9]:
#clean up wrong values 
out_df = out_df.loc[~out_df['Actual Cash Value'].str.contains('Odometer').fillna(False)]
out_df = out_df.loc[~out_df['Year'].str.contains('Make').fillna(False)]
out_df = out_df.loc[~out_df['Year'].str.contains('Model:').fillna(False)]
out_df = out_df.loc[~out_df['Auction Date'].str.contains('Repair Cost').fillna(False)]


#filter out canadian cars
out_df = out_df.loc[~out_df['Price Sold or Highest Bid'].str.contains('CA').fillna(False)
                               ]

out_df['Auction Date'] = pd.to_datetime(out_df['Auction Date'])

out_df['Auction_Year'] = out_df['Auction Date'].dt.year

In [10]:
#check datset size
cleaned_size = out_df.shape[0]
print('Cleaned dataset size:',cleaned_size
      ,'\nRows removed: ', row_size - cleaned_size)

Cleaned dataset size: 1046013
Rows removed:  2091

In [11]:
# Combining Prim Damages 
raw_prim_cat = out_df['Prim Damage'].str.lower().unique()
print('Cat count:',raw_prim_cat.shape[0],'\n',raw_prim_cat)

#prim damage map
prim_damage_map = {
 'burn - engine': 'burn'
, 'partial/incomplete r' : 'partial repair'
, 'frame damage reporte' : 'frame damage'

,'unknown' : 'no data'


, np.nan : 'no data'
,'price sold or highest bid' :'no data'
,'rr' : 'no data'

}
#apply mapping
out_df['Prim Damage'] = out_df['Prim Damage'].str.lower().replace(prim_damage_map)

new_prim_cat = out_df['Prim Damage'].str.lower().unique()
print('Cat count:',new_prim_cat.shape[0],'\n',new_prim_cat)

Cat count: 33
 ['front end' 'minor dent/scratches' 'mechanical' 'side' 'normal wear'
 'hail' 'minor dents/scratche' 'stripped' 'all over' 'damage history'
 'partial/incomplete r' 'rear end' 'vandalism' 'water/flood' 'burn'
 'previous repair' 'partial repair' 'top/roof' 'rollover'
 'burn - interior' 'undercarriage' 'biohazard/chemical' 'burn - engine'
 'frame damage' 'missing/altered vin' 'unknown' 'frame damage reporte'
 'replaced vin' 'rejected repair' 'biohazardous/chemica' nan
 'cash for clunkers' 'rr']
Cat count: 28
 ['front end' 'minor dent/scratches' 'mechanical' 'side' 'normal wear'
 'hail' 'minor dents/scratche' 'stripped' 'all over' 'damage history'
 'partial repair' 'rear end' 'vandalism' 'water/flood' 'burn'
 'previous repair' 'top/roof' 'rollover' 'burn - interior' 'undercarriage'
 'biohazard/chemical' 'frame damage' 'missing/altered vin' 'no data'
 'replaced vin' 'rejected repair' 'biohazardous/chemica'
 'cash for clunkers']

In [12]:
# out_df = out_df.join(out_df['Location'].str.split('-',expand=True).rename(columns={0:'State',1:'City'}))

In [13]:
#fix numerical values 

def alter_sting(x):    
    try:
        return float(re.sub('[\$,USD,\, ,E,A,N]','',x))
    except:
#         print(x)
        return np.nan



out_df['Actual Cash Value'] = (out_df['Actual Cash Value']
                               #.fillna(-1)
                               .map(alter_sting))
out_df['Repair Cost'] = (out_df['Repair Cost']
#                          .fillna(-1)
                         .map(alter_sting))

out_df['Price Sold or Highest Bid'] = (out_df['Price Sold or Highest Bid']
                                       #.fillna(-1)
                                       .map(alter_sting))
out_df['Year'] = (out_df['Year']
#                   .fillna(-1)
                  .map(float))

out_df = out_df.rename(columns={'Year':'Model_Year'
                               })
                      

out_df['City'] = out_df['City'].str.strip().str.capitalize()
out_df['State'] = out_df['State'].str.strip().str.upper()
out_df['Model_short'] = out_df['Model'].astype('str')
out_df['Model'] = out_df['Model'].astype('str') + ' '+out_df['Model 2'].astype('str').fillna('') + ' ' + out_df['Model 3'].fillna('').astype('str')
out_df['Make'] = out_df['Make'].str.strip().str.upper()
out_df['Model'] = out_df['Model'].str.strip().str.upper()
out_df['Model_short'] = out_df['Model_short'].str.strip().str.upper()

#rename variables - add _ where needed

out_df = out_df.rename({'Price Sold or Highest Bid':'Price_Sold_or_Highest_Bid'
                            ,'Repair Cost':'Repair_Cost'
                            ,'Actual Cash Value':'Actual_Cash_Value'
                            ,'Prim Damage':'Prim_Damage'
                            ,'Sec Damage':'Sec_Damage'
                            ,'Title State/Type':'Title_State_Type'
                            ,'Auction Date':'Auction_Date'
                            },axis=1)




out_df['Model_Year'] = out_df['Model_Year'].astype(int)

#remove unused columns 
out_df = out_df.drop(columns=['Model 2','Model 3', '2', '5'])


print('New columns names:',out_df.columns)

New columns names: Index(['Actual_Cash_Value', 'Auction_Date', 'Description', 'Location',
       'Odometer', 'Price_Sold_or_Highest_Bid', 'Prim_Damage', 'Repair_Cost',
       'Sec_Damage', 'Title_State_Type', 'Model_Year', 'Make', 'Model',
       'State', 'City', 'Auction_Year', 'Model_short'],
      dtype='object')

In [14]:
print(out_df.shape)
out_df.head()

(1046013, 17)

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,Model_Year,Make,Model,State,City,Auction_Year,Model_short
0,5649.0,2019-10-02,1992 Acura INTEGRA GS,KY - LEXINGTON WEST,146073 A,3750.0,front end,NaN,NaN,FL RB,1992,ACURA,INTEGRA GS,KY,Lexington west,2019,INTEGRA
1,NaN,2019-06-18,1992 Acura INTEGRA LS,CA - SAN JOSE,182250 E,300.0,minor dent/scratches,NaN,NaN,CA CQ,1992,ACURA,INTEGRA LS,CA,San jose,2019,INTEGRA
2,NaN,2019-05-24,1992 Acura VIGOR GS,NJ - SOMERVILLE,188301 A,575.0,front end,NaN,Mechanical,NJ CT,1992,ACURA,VIGOR GS,NJ,Somerville,2019,VIGOR
3,725.0,2018-11-26,1992 Acura INTEGRA GS,WA - NORTH SEATTLE,300930 E,325.0,front end,NaN,Mechanical,WA CT,1992,ACURA,INTEGRA GS,WA,North seattle,2018,INTEGRA
4,1450.0,2018-09-12,1992 Acura INTEGRA LS,NY - LONG ISLAND,260216 E,300.0,front end,NaN,NaN,NY CT,1992,ACURA,INTEGRA LS,NY,Long island,2018,INTEGRA

In [15]:
#format odometer data

#for null model - replace all E  & N values into "No Data" (np.nan)

def odometer_null(x):
    if 'E' in x or 'N' in x:
        return np.nan
    else:
        return alter_sting(x)


    
#create a dictionary for max E value for each model 

odometr_dict = (out_df.loc[out_df['Odometer'].str.contains('A')]
                 .assign(odometer_num = lambda x: x['Odometer'].map(alter_sting)
                        )
                 .groupby('Description')['odometer_num']
                 .max()
                #  [['Odometer','odometer_num']]
                )

#replace E and N values into max of A category
def odometer_replace(x):
    if 'E' in x['Odometer'] or 'N' in x['Odometer']:
        try:
            return odometr_dict[x['Description']]
        except:
            return np.nan
    else:
        return alter_sting(x['Odometer'])


#create null model
out_df = out_df.assign(Odometer_Null = lambda x: x['Odometer'].map(odometer_null))

#create replace model:

out_df = out_df.assign(Odometer_Replace = lambda x: x.apply(odometer_replace,axis=1))


# create Model_Age
# current_year = 2019
out_df['Model_Age'] = (out_df['Auction_Year'] - out_df['Model_Year'] ) + 1 #.dt.days // 365 
# out_df['Model_Year'] = out_df['Model_Year'].dt.year

In [16]:
print(out_df.shape)
out_df.tail()

(1046013, 20)

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,Model_Year,Make,Model,State,City,Auction_Year,Model_short,Odometer_Null,Odometer_Replace,Model_Age
1048099,21521.0,2016-08-15,2016 Nissan ROGUE S/SL,FL - JACKSONVILLE EAST,0 N,4900.0,front end,20642.00,BIOHAZARD/CHEMICAL,FL CD,2016,NISSAN,ROGUE S/SL,NaN,NaN,2016,ROGUE,NaN,49819.0,1
1048100,NaN,2016-08-12,2016 Nissan ALTIMA 2.5,AZ - TUCSON,1939 A,6900.0,front end,NaN,NaN,AZ SC,2016,NISSAN,ALTIMA 2.5,NaN,NaN,2016,ALTIMA,1939.0,1939.0,1
1048101,21208.0,2016-08-12,2016 Nissan ROGUE S/SL,TX - HOUSTON,11051 A,2500.0,all over,26661.32,UNDERCARRIAGE,TX SV,2016,NISSAN,ROGUE S/SL,NaN,NaN,2016,ROGUE,11051.0,11051.0,1
1048102,18340.0,2016-08-12,2016 Nissan SENTRA S/S,IL - CHICAGO SOUTH,2607 N,2500.0,front end,22830.00,UNDERCARRIAGE,IL SC,2016,NISSAN,SENTRA S/S,NaN,NaN,2016,SENTRA,NaN,79448.0,1
1048103,18000.0,2016-08-11,2016 Nissan SENTRA S/S,PA - PITTSBURGH NORTH,1742 A,4900.0,front end,NaN,NaN,PA SC,2016,NISSAN,SENTRA S/S,NaN,NaN,2016,SENTRA,1742.0,1742.0,1

In [17]:
#lookup county name from City - State

def find_county(x):
    try:
        return search.by_city_and_state(x[1] , x[0])[0].county
    except:
        return 'None'


locs = out_df['Location'].unique()
locs = locs[~pd.isnull(locs)]

state_city = [l[:2] for l in  list(map(lambda x: x.split(' - '),   locs ) ) #if len(l)>1
             ]





county = list(map(find_county,   state_city ) )

county = [', '.join([l.strip() for l in (county[i].replace('County','')+', '+state_city[i][0]).split(',') ])
 for i in range(len(county))]

loc_lookup = pd.DataFrame({'Location':locs,'County':county}).set_index('Location')['County']

loc_lookup


def map_countries(x):
    try:
        return loc_lookup.loc[x]
    except:
        return 'None'
        
out_df['County'] = out_df['Location'].map(map_countries)
out_df['make_key'] = out_df.assign(Model_Year = lambda x: x['Model_Year'].astype(str))[['Make','Model_short','Model_Year']].agg('_'.join,axis=1)


print(out_df.shape)
out_df.head(10)

(1046013, 22)

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,...,Model,State,City,Auction_Year,Model_short,Odometer_Null,Odometer_Replace,Model_Age,County,make_key
0,5649.0,2019-10-02,1992 Acura INTEGRA GS,KY - LEXINGTON WEST,146073 A,3750.0,front end,NaN,NaN,FL RB,...,INTEGRA GS,KY,Lexington west,2019,INTEGRA,146073.0,146073.0,28,"Fayette, KY",ACURA_INTEGRA_1992
1,NaN,2019-06-18,1992 Acura INTEGRA LS,CA - SAN JOSE,182250 E,300.0,minor dent/scratches,NaN,NaN,CA CQ,...,INTEGRA LS,CA,San jose,2019,INTEGRA,NaN,178757.0,28,"Santa Clara, CA",ACURA_INTEGRA_1992
2,NaN,2019-05-24,1992 Acura VIGOR GS,NJ - SOMERVILLE,188301 A,575.0,front end,NaN,Mechanical,NJ CT,...,VIGOR GS,NJ,Somerville,2019,VIGOR,188301.0,188301.0,28,"Somerset, NJ",ACURA_VIGOR_1992
3,725.0,2018-11-26,1992 Acura INTEGRA GS,WA - NORTH SEATTLE,300930 E,325.0,front end,NaN,Mechanical,WA CT,...,INTEGRA GS,WA,North seattle,2018,INTEGRA,NaN,197187.0,27,"King, WA",ACURA_INTEGRA_1992
4,1450.0,2018-09-12,1992 Acura INTEGRA LS,NY - LONG ISLAND,260216 E,300.0,front end,NaN,NaN,NY CT,...,INTEGRA LS,NY,Long island,2018,INTEGRA,NaN,178757.0,27,"Queens, NY",ACURA_INTEGRA_1992
5,3250.0,2017-12-20,1992 Acura VIGOR GS,CA - MARTINEZ,205852 E,175.0,minor dent/scratches,NaN,Side,CA DQ,...,VIGOR GS,CA,Martinez,2017,VIGOR,NaN,216614.0,26,"Contra Costa, CA",ACURA_VIGOR_1992
6,NaN,2016-12-08,1992 Acura LEGEND L,MN - MINNEAPOLIS,144195 E,125.0,mechanical,NaN,HAIL,MN CT,...,LEGEND L,MN,Minneapolis,2016,LEGEND,NaN,233596.0,25,"Hennepin, MN",ACURA_LEGEND_1992
7,1960.0,2016-09-13,1992 Acura INTEGRA LS,TN - KNOXVILLE,309149 E,975.0,side,NaN,NaN,TN CT,...,INTEGRA LS,TN,Knoxville,2016,INTEGRA,NaN,178757.0,25,"Knox, TN",ACURA_INTEGRA_1992
8,NaN,2016-07-25,1992 Acura LEGEND LS,MD - BALTIMORE,104173 A,150.0,minor dent/scratches,NaN,NORMAL WEAR,MD CT,...,LEGEND LS,MD,Baltimore,2016,LEGEND,104173.0,104173.0,25,"Baltimore city, MD",ACURA_LEGEND_1992
9,NaN,2016-07-19,1992 Acura LEGEND L,NJ - GLASSBORO EAST,131385 A,200.0,normal wear,NaN,NaN,NJ CT,...,LEGEND L,NJ,Glassboro east,2016,LEGEND,131385.0,131385.0,25,"Gloucester, NJ",ACURA_LEGEND_1992

In [18]:
# cpi adjustment currency fields
base_year = 2010
def cpi_adj_Actual_Cash_Value(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['Auction_Year']]) * x['Actual_Cash_Value'],2)
    except ValueError:
        return x['Actual_Cash_Value']

print(out_df.shape)
out_df['Actual_Cash_Value_adj'] = out_df.apply(cpi_adj_Actual_Cash_Value
                                            ,axis=1)



def cpi_adj_Price_Sold_or_Highest_Bid(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['Auction_Year']]) * x['Price_Sold_or_Highest_Bid'],2)
    except ValueError:
        return x['Price_Sold_or_Highest_Bid']

print(out_df.shape)
out_df['Price_Sold_or_Highest_Bid_adj'] = out_df.apply(cpi_adj_Price_Sold_or_Highest_Bid
                                            ,axis=1)

def cpi_adj_Repair_Cost(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['Auction_Year']]) * x['Repair_Cost'],2)
    except ValueError:
        return x['Repair_Cost']

print(out_df.shape)
out_df['Repair_Cost_adj'] = out_df.apply(cpi_adj_Repair_Cost
                                            ,axis=1)


#create a foregin key for match
out_df['make_key'] = out_df.assign(Model_Year = lambda x: x['Model_Year'].astype(str))[['Make','Model_short','Model_Year']].agg('_'.join,axis=1)

out_df = pd.merge(out_df,pd.read_csv(path_to_csv +'Us-zipcodes\\fips_codes.csv',index_col=0), on='County',how='left')

out_df = (out_df.drop('State',axis=1)
                    .join(out_df['County'].str.split(', ',expand=True)[1]
                    .rename('State')))

print(out_df.shape)

(1046013, 22)
(1046013, 23)
(1046013, 24)
(1046013, 26)

In [19]:
#remove outlyer data
out_df['is_outlyer'] = 0 
#mark repair cost oult
out_df.loc[out_df.Repair_Cost_adj >=out_df.Repair_Cost_adj.quantile(0.99),'is_outlyer'] = 1
# out_df.loc[out_df.Repair_Cost_adj >=out_df.Repair_Cost_adj.quantile(0.99),'Repair_Cost_adj'] = np.nan

#Actual cash value
out_df.loc[out_df.Actual_Cash_Value_adj >=out_df.Actual_Cash_Value_adj.quantile(0.99),'is_outlyer'] = 1
# out_df.loc[out_df.Actual_Cash_Value_adj >=out_df.Actual_Cash_Value_adj.quantile(0.99),'Actual_Cash_Value'] = np.nan

#price sold
out_df.loc[out_df.Price_Sold_or_Highest_Bid_adj >=out_df.Price_Sold_or_Highest_Bid_adj.quantile(0.99),'is_outlyer'] = 1
# out_df.loc[out_df.Price_Sold_or_Highest_Bid_adj >=out_df.Price_Sold_or_Highest_Bid_adj.quantile(0.99),'Actual_Cash_Value'] = np.nan

#odometer replace
out_df.loc[out_df.Odometer_Replace >=out_df.Odometer_Replace.quantile(0.99),'is_outlyer'] = 1
# out_df.loc[out_df.Odometer_Replace >=out_df.Odometer_Replace.quantile(0.99),'Actual_Cash_Value'] = np.nan

#odometer replace
out_df.loc[out_df.Odometer_Replace >=out_df.Odometer_Null.quantile(0.99),'is_outlyer'] = 1
# out_df.loc[out_df.Odometer_Replace >=out_df.Odometer_Null.quantile(0.99),'Actual_Cash_Value'] = np.nan

#
print('outlyers detected: ',out_df['is_outlyer'].sum() )

print(out_df.shape)

outlyers detected:  199640
(1046013, 27)

In [20]:
out_df.columns

Index(['Actual_Cash_Value', 'Auction_Date', 'Description', 'Location',
       'Odometer', 'Price_Sold_or_Highest_Bid', 'Prim_Damage', 'Repair_Cost',
       'Sec_Damage', 'Title_State_Type', 'Model_Year', 'Make', 'Model', 'City',
       'Auction_Year', 'Model_short', 'Odometer_Null', 'Odometer_Replace',
       'Model_Age', 'County', 'make_key', 'Actual_Cash_Value_adj',
       'Price_Sold_or_Highest_Bid_adj', 'Repair_Cost_adj', 'FIPS', 'State',
       'is_outlyer'],
      dtype='object')

In [21]:
Temp.save_obj(out_df, 'out_df_working')
out_df.to_csv(path_to_temp_csv+'full_working_df.csv')
# out_df = Temp.load_obj('out_df_working')
print(out_df.shape)

Object <2003177820104> saved to: c:\data\Datasets\SC-temp\
(1046013, 27)

In [22]:
'''
END OF MAIN DATASET PREPROCESSING
'''

'\nEND OF MAIN DATASET PREPROCESSING\n'

In [23]:
'''
JOINING WITH DEMOGRAPHIC DATA 
'''


#read the demography data 
path_to_demograpyh =path_to_csv+'SC-working-folder\\demography.csv'

demog = pd.read_csv(path_to_demograpyh)

print('Demographic features:\n' , demog.columns.tolist())

Demographic features:
 ['index', 'Unemp-Pct-2014', 'Unemp-Pct-2015', 'Unemp-Pct-2016', 'Unemp-Pct-2017', 'Unemp-Pct-2018', 'Unemp-Pct-2013', 'Unemp-Pct-2012', 'Unemp-Pct-2011', 'Unemp-Pct-2010', 'Income_adj-1990', 'Income_adj-1991', 'Income_adj-1992', 'Income_adj-1993', 'Income_adj-1994', 'Income_adj-1995', 'Income_adj-1996', 'Income_adj-1997', 'Income_adj-1998', 'Income_adj-1999', 'Income_adj-2000', 'Income_adj-2001', 'Income_adj-2002', 'Income_adj-2003', 'Income_adj-2004', 'Income_adj-2005', 'Income_adj-2006', 'Income_adj-2007', 'Income_adj-2008', 'Income_adj-2009', 'Income_adj-2010', 'Income_adj-2011', 'Income_adj-2012', 'Income_adj-2013', 'Income_adj-2014', 'Income_adj-2015', 'Income_adj-2016', 'Income_adj-2017', 'CENSUS2010', 'CENSUS2011', 'CENSUS2012', 'CENSUS2013', 'CENSUS2014', 'CENSUS2015', 'CENSUS2016', 'CENSUS2017', 'CENSUS2018', 'GRNDTOT_2009', 'GRNDTOT_2010', 'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013', 'GRNDTOT_2014', 'GRNDTOT_2016', 'CPOPARST_2009', 'CPOPARST_2010', 'CPOPARST_2011', 'CPOPARST_2012', 'CPOPARST_2013', 'CPOPARST_2014', 'CPOPARST_2016']

In [24]:

#read carfax data
path_to_carfax =path_to_csv+'SC-carfax\\processed\\MSRP.csv'

carfax = pd.read_csv(path_to_carfax,index_col=0) 




#read carfax data
path_to_carfax =path_to_csv+'SC-carfax\\processed\\MSRP.csv'

carfax = pd.read_csv(path_to_carfax,index_col=0) 
carfax['make'] = carfax['make'].str.upper()
carfax['model'] = carfax['model'].str.upper()
carfax['year'] = carfax['year'].astype(str)


#create a foreging key
carfax['make_key'] = carfax[['make','model','year']].agg('_'.join,axis=1)


carfax['Original_MSRP_mean'] =carfax[['Original_MSRP_low','Original_MSRP_high']].mean(axis=1)


#CPI adjusted income 
carfax['year'] = carfax['year'].astype(int)
def cpi_adj_Original_MSRP_mean(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['year']]) * x['Original_MSRP_mean'],2)
    except KeyError:
        return x['Original_MSRP_mean']


carfax['Original_MSRP_mean_adj'] = carfax.apply(cpi_adj_Original_MSRP_mean
                                            ,axis=1)


print(carfax.shape)
carfax.head()

(4144, 8)

,make,model,year,Original_MSRP_low,Original_MSRP_high,Original_MSRP_mean,Original_MSRP_mean_adj,make_key
0,ACURA,CL,2001,28460.0,30810.0,29635.0,36488.37,ACURA_CL_2001
1,ACURA,CL,2002,28530.0,32880.0,30705.0,37217.40,ACURA_CL_2002
2,ACURA,CL,2003,28700.0,31050.0,29875.0,35404.47,ACURA_CL_2003
3,ACURA,ILX,2013,25900.0,34400.0,30150.0,28221.47,ACURA_ILX_2013
4,ACURA,ILX,2014,26900.0,34600.0,30750.0,28323.63,ACURA_ILX_2014

In [39]:
# join original and carfex
out_df_carfix = pd.merge(out_df, carfax,  how='left', on ='make_key')#.drop(columns='make_key')
print(out_df_carfix.shape)
out_df_carfix.head()

(1046013, 34)

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,...,FIPS,State,is_outlyer,make,model,year,Original_MSRP_low,Original_MSRP_high,Original_MSRP_mean,Original_MSRP_mean_adj
0,5649.0,2019-10-02,1992 Acura INTEGRA GS,KY - LEXINGTON WEST,146073 A,3750.0,front end,NaN,NaN,FL RB,...,NaN,KY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2019-06-18,1992 Acura INTEGRA LS,CA - SAN JOSE,182250 E,300.0,minor dent/scratches,NaN,NaN,CA CQ,...,6085.0,CA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2019-05-24,1992 Acura VIGOR GS,NJ - SOMERVILLE,188301 A,575.0,front end,NaN,Mechanical,NJ CT,...,34035.0,NJ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,725.0,2018-11-26,1992 Acura INTEGRA GS,WA - NORTH SEATTLE,300930 E,325.0,front end,NaN,Mechanical,WA CT,...,53033.0,WA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1450.0,2018-09-12,1992 Acura INTEGRA LS,NY - LONG ISLAND,260216 E,300.0,front end,NaN,NaN,NY CT,...,NaN,NY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
out_df_carfix.loc[out_df_carfix['Make'] == 'TOYOTA','Model_short'].unique()

array(['FJ40', 'LAND', 'FJ', 'CORONA', 'COROLLA', 'PICK-UP', 'LANDCRUISR',
       'LANDCRUISE', 'HILUX', '4D', 'OTHER', 'CELICA', 'PICK', 'PICKUP',
       'STANDARD', 'SUPRA', 'SR5', 'CRESSIDA', 'DELUXE', 'DOLPHIN',
       'STARLET', 'TERCEL', 'VAN', 'CAMRY', 'MR2', 'FORKLIFT', '4RUNNER',
       'LONG', 'CAB', 'SEABREEZE', 'EXTRA', 'PREVIA', 'SKID', 'PASEO',
       'SHORT', 'TRUCK', 'T100', 'COROLLA/DX', 'CELICA/ST', 'CAMRY/DX',
       'AVALON', 'PREVIA/DX', 'TACOMA', 'RAV4', '4RUNNER/SR', 'RAV', '4',
       'SIENNA', 'SIENNA/CE', 'ECHO', 'SOLARA', 'ARISTO', 'TUNDRA',
       'TUNDRA/SR5', 'HIGHLANDER', 'PRIUS', 'SEQUOIA', '1/2',
       'COROLLA/S/', 'MATRIX', 'MATRIX/XR', 'CORROLA', 'COROLLA/MA',
       'CORROLLA', '2DR', 'XB', 'HIGLANDER', 'SIENNA/LE', 'YARIS',
       'CAMRY-LE', 'AV', 'ALL', 'COROLL', 'CAM', 'SCION', 'VENZA',
       'COROLLA/LE', 'CAMRY/SE/L', 'COR', 'CAMRY/LE/X', 'AVALON/LIM',
       'FR-S', 'HIGHLNDER', 'MIRAI', 'IA', '86', 'C-HR'], dtype=object)

In [41]:
#join car data with demographic data
car_demo_joined = (pd.merge(out_df_carfix, demog,left_on='County',right_on='index',how='left')
                    .drop(columns=['Location','Description','Odometer','Sec_Damage','Title_State_Type', 'City','make', 'model','year'])					
                    )
				


print(car_demo_joined.shape, car_demo_joined.head(),'\n\n' ,car_demo_joined.columns)

(1083072, 85)    Actual_Cash_Value Auction_Date  Price_Sold_or_Highest_Bid  \
0             5649.0   2019-10-02                     3750.0
1                NaN   2019-06-18                      300.0
2                NaN   2019-05-24                      575.0
3              725.0   2018-11-26                      325.0
4             1450.0   2018-09-12                      300.0

            Prim_Damage  Repair_Cost  Model_Year   Make       Model  \
0             front end          NaN        1992  ACURA  INTEGRA GS
1  minor dent/scratches          NaN        1992  ACURA  INTEGRA LS
2             front end          NaN        1992  ACURA    VIGOR GS
3             front end          NaN        1992  ACURA  INTEGRA GS
4             front end          NaN        1992  ACURA  INTEGRA LS

   Auction_Year Model_short      ...        GRNDTOT_2013  GRNDTOT_2014  \
0          2019     INTEGRA      ...             11518.0       10522.0
1          2019     INTEGRA      ...                 NaN           NaN
2          2019       VIGOR      ...              7944.0        8080.0
3          2018     INTEGRA      ...             57968.0       55370.0
4          2018     INTEGRA      ...                 0.0           0.0

   GRNDTOT_2016 CPOPARST_2009 CPOPARST_2010  CPOPARST_2011  CPOPARST_2012  \
0       15677.0      296406.0      295803.0       297847.0       302332.0
1           NaN           NaN           NaN            NaN            NaN
2        6848.0      327390.0      323444.0       324520.0       326493.0
3       54840.0     1924983.0     1954344.0      1985004.0      2012646.0
4       90490.0     2309193.0     2230722.0      2238842.0      2260875.0

   CPOPARST_2013  CPOPARST_2014  CPOPARST_2016
0       308712.0       311848.0       317853.0
1            NaN            NaN            NaN
2       329434.0       332740.0       333898.0
3      2061695.0      2106034.0      2189751.0
4      2293522.0      2316893.0      2342778.0

[5 rows x 85 columns]

 Index(['Actual_Cash_Value', 'Auction_Date', 'Price_Sold_or_Highest_Bid',
       'Prim_Damage', 'Repair_Cost', 'Model_Year', 'Make', 'Model',
       'Auction_Year', 'Model_short', 'Odometer_Null', 'Odometer_Replace',
       'Model_Age', 'County', 'make_key', 'Actual_Cash_Value_adj',
       'Price_Sold_or_Highest_Bid_adj', 'Repair_Cost_adj', 'FIPS',
       'is_outlyer', 'Original_MSRP_low', 'Original_MSRP_high',
       'Original_MSRP_mean', 'Original_MSRP_mean_adj', 'index',
       'Unemp-Pct-2014', 'Unemp-Pct-2015', 'Unemp-Pct-2016', 'Unemp-Pct-2017',
       'Unemp-Pct-2018', 'Unemp-Pct-2013', 'Unemp-Pct-2012', 'Unemp-Pct-2011',
       'Unemp-Pct-2010', 'Income_adj-1990', 'Income_adj-1991',
       'Income_adj-1992', 'Income_adj-1993', 'Income_adj-1994',
       'Income_adj-1995', 'Income_adj-1996', 'Income_adj-1997',
       'Income_adj-1998', 'Income_adj-1999', 'Income_adj-2000',
       'Income_adj-2001', 'Income_adj-2002', 'Income_adj-2003',
       'Income_adj-2004', 'Income_adj-2005', 'Income_adj-2006',
       'Income_adj-2007', 'Income_adj-2008', 'Income_adj-2009',
       'Income_adj-2010', 'Income_adj-2011', 'Income_adj-2012',
       'Income_adj-2013', 'Income_adj-2014', 'Income_adj-2015',
       'Income_adj-2016', 'Income_adj-2017', 'CENSUS2010', 'CENSUS2011',
       'CENSUS2012', 'CENSUS2013', 'CENSUS2014', 'CENSUS2015', 'CENSUS2016',
       'CENSUS2017', 'CENSUS2018', 'GRNDTOT_2009', 'GRNDTOT_2010',
       'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013', 'GRNDTOT_2014',
       'GRNDTOT_2016', 'CPOPARST_2009', 'CPOPARST_2010', 'CPOPARST_2011',
       'CPOPARST_2012', 'CPOPARST_2013', 'CPOPARST_2014', 'CPOPARST_2016'],
      dtype='object')

In [42]:
#create master demographic field 

# 1 Unemp-Pct

unemp_columns  = [col for col in car_demo_joined.columns if 'Unemp-Pct' in col]
print('working with ' ,unemp_columns)
def fetch_unemp_null(x):
    ''' Return the actual on the action date unemployment, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Unemp-Pct-{auction_y}']
    except:
        return

car_demo_joined['Unemp_pct_null'] = car_demo_joined.apply(fetch_unemp_null, axis=1)

unemp_available = np.array([2014,2015,2016,2017,2018,2013,2012,2011,2010])
def fetch_unemp_closest(x):
    ''' Return the actual on the action date unemployment, if none, return abs closest'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Unemp-Pct-{auction_y}']
    except:
        closest_year_ix = np.abs( unemp_available - x['Auction_Year']).argmin()
        closest_year = unemp_available[closest_year_ix]
        return x[f'Unemp-Pct-{closest_year}']

car_demo_joined['Unemp_pct_closest'] = car_demo_joined.apply(fetch_unemp_closest, axis=1)

working with  ['Unemp-Pct-2014', 'Unemp-Pct-2015', 'Unemp-Pct-2016', 'Unemp-Pct-2017', 'Unemp-Pct-2018', 'Unemp-Pct-2013', 'Unemp-Pct-2012', 'Unemp-Pct-2011', 'Unemp-Pct-2010']

In [43]:
# 2 Income_adj
inc_columns  = [col for col in car_demo_joined.columns if 'Income_adj' in col]
print('working with ' ,inc_columns)

def fetch_inc_null(x):
    ''' Return the actual on the action date income, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Income_adj-{auction_y}']
    except:
        return

car_demo_joined['Income_adj_null'] = car_demo_joined.apply(fetch_inc_null, axis=1)


income_available = np.arange(1990,2018)
def fetch_inc_closest(x):
    ''' Return the actual on the action date income, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Income_adj-{auction_y}']
    except:
        closest_year_ix = np.abs( income_available - x['Auction_Year']).argmin()
        closest_year = income_available[closest_year_ix]
        return x[f'Income_adj-{closest_year}']

car_demo_joined['Income_adj_closest'] = car_demo_joined.apply(fetch_inc_closest, axis=1)

working with  ['Income_adj-1990', 'Income_adj-1991', 'Income_adj-1992', 'Income_adj-1993', 'Income_adj-1994', 'Income_adj-1995', 'Income_adj-1996', 'Income_adj-1997', 'Income_adj-1998', 'Income_adj-1999', 'Income_adj-2000', 'Income_adj-2001', 'Income_adj-2002', 'Income_adj-2003', 'Income_adj-2004', 'Income_adj-2005', 'Income_adj-2006', 'Income_adj-2007', 'Income_adj-2008', 'Income_adj-2009', 'Income_adj-2010', 'Income_adj-2011', 'Income_adj-2012', 'Income_adj-2013', 'Income_adj-2014', 'Income_adj-2015', 'Income_adj-2016', 'Income_adj-2017']

In [44]:
# 3 CENSUS
CENSUS_columns  = [col for col in car_demo_joined.columns if 'CENSUS' in col]
print('working with ' ,CENSUS_columns)

def CENSUS_null(x):
    ''' Return the actual on the action date CENSUS, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CENSUS{auction_y}']
    except:
        return

car_demo_joined['CENSUS_null'] = car_demo_joined.apply(CENSUS_null, axis=1)


CENSUS_available = np.arange(2010,2019)
def CENSUS_closest(x):
    ''' Return the actual on the action date CENSUS, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CENSUS{auction_y}']
    except:
        closest_year_ix = np.abs( CENSUS_available - x['Auction_Year']).argmin()
        closest_year = CENSUS_available[closest_year_ix]
        return x[f'CENSUS{closest_year}']

car_demo_joined['CENSUS_closest'] = car_demo_joined.apply(CENSUS_closest, axis=1)

working with  ['CENSUS2010', 'CENSUS2011', 'CENSUS2012', 'CENSUS2013', 'CENSUS2014', 'CENSUS2015', 'CENSUS2016', 'CENSUS2017', 'CENSUS2018']

In [45]:
# 4 - GRNDTOT
GRNDTOT_columns  = [col for col in car_demo_joined.columns if 'GRNDTOT' in col]
print('working with ' ,GRNDTOT_columns)

def GRNDTOT_null(x):
    ''' Return the actual on the action date GRNDTOT, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'GRNDTOT_{auction_y}']
    except:
        return

car_demo_joined['GRNDTOT_null'] = car_demo_joined.apply(GRNDTOT_null, axis=1)


GRNDTOT_available = np.array([2009,2010,2011,2012,2013,2014,2016])
def GRNDTOT_closest(x):
    ''' Return the actual on the action date GRNDTOT, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'GRNDTOT_{auction_y}']
    except:
        closest_year_ix = np.abs( GRNDTOT_available - x['Auction_Year']).argmin()
        closest_year = GRNDTOT_available[closest_year_ix]
        return x[f'GRNDTOT_{closest_year}']

car_demo_joined['GRNDTOT_closest'] = car_demo_joined.apply(GRNDTOT_closest, axis=1)

working with  ['GRNDTOT_2009', 'GRNDTOT_2010', 'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013', 'GRNDTOT_2014', 'GRNDTOT_2016']

In [46]:
# 5 - CPOPARST
CPOPARST_columns  = [col for col in car_demo_joined.columns if 'CPOPARST' in col]
print('working with ' ,GRNDTOT_columns)

def CPOPARST_null(x):
    ''' Return the actual on the action date CPOPARST, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CPOPARST_{auction_y}']
    except:
        return

car_demo_joined['CPOPARST_null'] = car_demo_joined.apply(CPOPARST_null, axis=1)


CPOPARST_available = np.array([2009,2010,2011,2012,2013,2014,2016])
def CPOPARST_closest(x):
    ''' Return the actual on the action date CPOPARST, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CPOPARST_{auction_y}']
    except:
        closest_year_ix = np.abs( CPOPARST_available - x['Auction_Year']).argmin()
        closest_year = CPOPARST_available[closest_year_ix]
        return x[f'CPOPARST_{closest_year}']

car_demo_joined['CPOPARST_closest'] = car_demo_joined.apply(CPOPARST_closest, axis=1)

working with  ['GRNDTOT_2009', 'GRNDTOT_2010', 'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013', 'GRNDTOT_2014', 'GRNDTOT_2016']

In [47]:
#remove yearly demographic data 
col_to_rem = [unemp_columns,inc_columns ,CENSUS_columns,GRNDTOT_columns,CPOPARST_columns]
from itertools import chain
col_to_rem_fl = list(chain.from_iterable(col_to_rem))
#col_to_rem#[np.array(i) for i in col_to_rem]
car_demo_joined['State'] = car_demo_joined['County'].str.split(', ',expand=True)[1]

car_demo_joined = car_demo_joined.drop(columns=col_to_rem_fl)

In [48]:
car_demo_joined.loc[1].to_dict()

{'Actual_Cash_Value': nan,
 'Auction_Date': Timestamp('2019-06-18 00:00:00'),
 'Price_Sold_or_Highest_Bid': 300.0,
 'Prim_Damage': 'minor dent/scratches',
 'Repair_Cost': nan,
 'Model_Year': 1992,
 'Make': 'ACURA',
 'Model': 'INTEGRA LS',
 'Auction_Year': 2019,
 'Model_short': 'INTEGRA',
 'Odometer_Null': nan,
 'Odometer_Replace': 178757.0,
 'Model_Age': 28,
 'County': 'Santa Clara, CA',
 'make_key': 'ACURA_INTEGRA_1992',
 'Actual_Cash_Value_adj': nan,
 'Price_Sold_or_Highest_Bid_adj': 255.88,
 'Repair_Cost_adj': nan,
 'FIPS': 6085.0,
 'is_outlyer': 0,
 'Original_MSRP_low': nan,
 'Original_MSRP_high': nan,
 'Original_MSRP_mean': nan,
 'Original_MSRP_mean_adj': nan,
 'index': nan,
 'Unemp_pct_null': nan,
 'Unemp_pct_closest': nan,
 'Income_adj_null': nan,
 'Income_adj_closest': nan,
 'CENSUS_null': nan,
 'CENSUS_closest': nan,
 'GRNDTOT_null': nan,
 'GRNDTOT_closest': nan,
 'CPOPARST_null': nan,
 'CPOPARST_closest': nan}

In [49]:
car_demo_joined.columns

Index(['Actual_Cash_Value', 'Auction_Date', 'Price_Sold_or_Highest_Bid',
       'Prim_Damage', 'Repair_Cost', 'Model_Year', 'Make', 'Model',
       'Auction_Year', 'Model_short', 'Odometer_Null', 'Odometer_Replace',
       'Model_Age', 'County', 'make_key', 'Actual_Cash_Value_adj',
       'Price_Sold_or_Highest_Bid_adj', 'Repair_Cost_adj', 'FIPS',
       'is_outlyer', 'Original_MSRP_low', 'Original_MSRP_high',
       'Original_MSRP_mean', 'Original_MSRP_mean_adj', 'index',
       'Unemp_pct_null', 'Unemp_pct_closest', 'Income_adj_null',
       'Income_adj_closest', 'CENSUS_null', 'CENSUS_closest', 'GRNDTOT_null',
       'GRNDTOT_closest', 'CPOPARST_null', 'CPOPARST_closest'],
      dtype='object')

In [50]:
#save output
car_demo_joined.drop(columns=['CPOPARST_null','CPOPARST_closest']).to_csv(path_to_temp_csv+'joint_working_df.csv')
Temp.save_obj(car_demo_joined,'car_demo_joined')

Object <2002388585800> saved to: c:\data\Datasets\SC-temp\

In [105]:
'''
ANALYSIS
'''

'\nANALYSIS\n'

In [106]:
# del out_df
out_df = Temp.load_obj('out_df_working')
# car_demo_joined = Temp.load_obj('car_demo_joined')

Object <out_df_working> loaded from: c:\data\Datasets\SC-temp\

In [ ]:
out_df.groupby('Make')['Model_Year'].count().sort_values(ascending=False)[:60]

In [ ]:
# filterd_acv = out_df[var_to_plot]
# filterd_acv_round = filterd_acv


# filterd_acv_round_vc = filterd_acv_round.value_counts().to_frame().reset_index().rename({'index':'level' , var_to_plot:'count'}, axis=1)
# filterd_acv_round_vc.to_csv('csv/outly.csv', index=False)

In [ ]:
#histogram

s = 20
e = 80
#display modes of the distribution 
try:
    filterd_acv = out_df[var_to_plot].loc[(out_df[var_to_plot] >s )& (out_df[var_to_plot] <e)]

    print('Counts:\n#>100k:'
                ,len(out_df[var_to_plot].loc[out_df[var_to_plot]>=1e5]))

except:
    filterd_acv = out_df[var_to_plot]




n = 1
filterd_acv_round = (filterd_acv // n ) * n

filterd_acv.plot.hist(title= var_to_plot+f' (between {s} and {e})',color='k', alpha=.4)

filterd_acv_round_vc = filterd_acv_round.value_counts().to_frame().reset_index().rename({'index':'level' , var_to_plot:'count'}, axis=1)
filterd_acv_round_vc.to_csv('csv/outly.csv', index=False)
# filterd_acv_round_vc

In [ ]:


#plot a histogram of observed cash_values
fig= plt.figure()
ax = filterd_acv.plot.hist()
ax.set(title = 'Histogram for Actual_Cash_Value < 10k');

In [ ]:
#fit  normat distribution

from scipy import stats

x = np.linspace(0,filterd_acv.max(),len(filterd_acv))
mu , std = stats.norm.fit(filterd_acv.values)

ax = filterd_acv.plot.hist(normed=True)
plt.plot(x, stats.norm.pdf(x , mu, std))
ax.set(title = 'Histogram for Actual_Cash_Value < 10k');
print('K-S p-value:', stats.kstest(filterd_acv.values , 'norm')[1])

In [ ]:

out_df['Model_Age'].describe().astype(int)

In [ ]:
#model_age
#check model age statsВ

out_df.loc[out_df['Model_Age'].loc[out_df['Model_Age']<0].index]

In [114]:

numerical_fields =  ['Actual_Cash_Value'
               ,'Auction_Year'
       #'Odometer'
       , 'Price_Sold_or_Highest_Bid'
       , 'Repair_Cost'
        ,'Odometer_Null','Odometer_Replace'
        ,'Model_Age'
        ]

categorical_variables = ['Prim_Damage','Make','Model'
]

In [115]:
#categories for all categorical variables 

# categorial_variables = ['Prim_Damage'
#                         ,'Sec_Damage'
#                         ,'Make'
#                         ,'Model' # - to many categories >2000
#
                        #  ]  
out_df[categorical_variables]  =out_df[categorical_variables].astype('category')

print(out_df[categorical_variables].describe().to_string(),'\n\n')

cat_df = {}
for col in categorical_variables:
    print(col, ' - ', out_df[col].cat.categories.tolist(),'\n')
    cat_df[col] = out_df[col].cat.categories.tolist()

QX80 BASE', 'QX80 LUXE', 'QX80 NAN', 'R 320', 'R 320 CDI', 'R 350', 'R 350 4MATIC', 'R 350 BLUE', 'R 500', 'R NAN', 'R/TYPE NAN', 'R10 SUBURB', 'R10 SUBURBAN', 'R1150GS AD', 'R1200 GS A', 'R1500 SUBU', 'R20 SUBURB', 'R2500 SUBU', 'R32 NAN', 'R320 BLUET', 'R320 CDI', 'R350 BLUET', 'R350 R CLA', 'R3500 NAN', 'R500 NAN', 'R500 R CLA', 'R8 4.2 QUA', 'R8 4.2 QUATTRO', 'R8 5.2 PLU', 'R8 5.2 QUA', 'R8 5.2 QUATTRO', 'R8 NAN', 'R8 SPYDER', 'RABBIT DEL', 'RABBIT DELUXE', 'RABBIT L C', 'RABBIT LS', 'RABBIT NAN', 'RACECAR NAN', 'RAINIER CX', 'RALLY NAN', 'RALLY WAGO', 'RAM 100', 'RAM 1500', 'RAM 1500 M', 'RAM 1500 Q', 'RAM 1500 REBEL', 'RAM 1500 S', 'RAM 1500 SLT', 'RAM 1500 SPORT', 'RAM 1500 ST', 'RAM 2500', 'RAM 2500 M', 'RAM 2500 Q', 'RAM 2500 S', 'RAM 2500 ST', 'RAM 2500ST', 'RAM 3500', 'RAM 3500 M', 'RAM 3500 Q', 'RAM 3500 S', 'RAM C/V TR', 'RAM NAN', 'RAM PROMAS', 'RAM PROMASTER', 'RAM TRADESMAN', 'RAM TRUCK', 'RAM VAN', 'RAM VAN B1', 'RAM VAN B2', 'RAM VAN B3', 'RAM VAN CA', 'RAM WAGON', 'RAMCHARGER NAN', 'RANCHERO NAN', 'RANCHEROGT NAN', 'RANGER NAN', 'RANGER XLT', 'RAV 4', 'RAV4 ADVEN', 'RAV4 EV', 'RAV4 HV', 'RAV4 HV HY', 'RAV4 HV LE', 'RAV4 HV LI', 'RAV4 HV SE', 'RAV4 HV XL', 'RAV4 L', 'RAV4 LE', 'RAV4 LIMIT', 'RAV4 LIMITED', 'RAV4 LTD', 'RAV4 NAN', 'RAV4 SE', 'RAV4 SPORT', 'RAV4 XLE', 'RC 200T', 'RC 300', 'RC 350', 'RC NAN', 'RC-F NAN', 'RDX ADVANC', 'RDX BASE', 'RDX NAN', 'RDX TECHNO', 'REGAL CUST', 'REGAL CXL', 'REGAL GS', 'REGAL LIMITED', 'REGAL LS', 'REGAL NAN', 'REGAL PREF', 'REGAL PREMIUM', 'REGENCY NAN', 'REGULARCAB NAN', 'RELAY 1', 'RELAY 2', 'RELAY 3', 'RELAY NAN', 'RELIANT CU', 'RENDEZVOUS NAN', 'RENEGADE L', 'RENEGADE NAN', 'RENEGADE S', 'RENEGADE T', 'REPLICA NAN', 'RETRACTABL NAN', 'RH NAN', 'RIDGELINE NAN', 'RIO 5', 'RIO 5 SX', 'RIO BASE', 'RIO CINCO', 'RIO EX', 'RIO EX/SX', 'RIO LX', 'RIO LX/SX', 'RIO NAN', 'RIO S', 'RIO/LX/SX NAN', 'RIO5 NAN', 'RIVIERA GS', 'RL NAN', 'RLX ADVANC', 'RLX ADVANCE', 'RLX NAN', 'RLX SPORT', 'RLX TECH', 'RLX TECH-A', 'RM 2500 CC', 'ROADRUNNER NAN', 'ROADSTAR NAN', 'ROADSTER NAN', 'ROCKET 88', 'RODEO NAN', 'RODEO S', 'RODEO S/LS', 'RODEO SPOR', 'RODEO SPORT', 'ROGUE NAN', 'ROGUE S', 'ROGUE S/SL', 'ROGUE S/SV', 'ROGUE SELE', 'ROGUE SL', 'ROGUE SPORT', 'ROGUE SV', 'ROMEO 164', 'ROMEO 164 L', 'ROMEO 4C', 'ROMEO GIULIA', 'ROMEO GIULIA Q4', 'ROMEO GIULIA TI', 'ROMEO GT V6', 'ROMEO GTV', 'ROMEO GTV 6', 'ROMEO INIEZIONE', 'ROMEO MILANO GOL', 'ROMEO OTHER', 'ROMEO ROMEO', 'ROMEO SPIDER', 'ROMEO SPIDER GRA', 'ROMEO SPIDER QUA', 'ROMEO SPIDER VEL', 'ROMEO SPYDER', 'ROMEO STELVIO', 'ROMEO STELVIO QU', 'ROMEO STELVIO SP', 'ROMEO STELVIO TI', 'ROMEO VELOCE', 'ROMEO VELOCE 200', 'RONDO BASE', 'RONDO LX', 'RONDO LX/E', 'RONDO NAN', 'RONDO/LX/E NAN', 'ROUTAN NAN', 'ROUTAN S', 'ROUTAN SE', 'ROUTAN SEL', 'ROVER 88 SER', 'ROVER ALL OTHER', 'ROVER COUNTY LWB', 'ROVER DEFENDER', 'ROVER DEFENDER 1', 'ROVER DEFENDER 9', 'ROVER DISCOVERY', 'ROVER EVOQUE', 'ROVER FREELANDER', 'ROVER FRELANDER', 'ROVER FRELANDHSE', 'ROVER LANDROVER', 'ROVER LR2', 'ROVER LR2 BASE', 'ROVER LR2 HSE', 'ROVER LR2 SE', 'ROVER LR2/HSE', 'ROVER LR3', 'ROVER LR3 HSE', 'ROVER LR3 SE', 'ROVER LR4', 'ROVER LR4 BASE', 'ROVER LR4 HSE', 'ROVER OTHER', 'ROVER R.R.EVOQUE', 'ROVER RANGE ROV', 'ROVER RANGE ROVE', 'ROVER RANGE ROVER', 'ROVER RANGE RVR', 'ROVER RANGEROVER', 'ROVER ROVER', 'ROVER RR 4.0', 'ROVER SERIES III', 'ROYAL NAN', 'ROYALE NAN', 'ROYCE NAN', 'RS4 NAN', 'RS4 QUATTR', 'RS4 QUATTRO', 'RS5 NAN', 'RS5 QUATTR', 'RS5 QUATTRO', 'RS6 NAN', 'RS7 NAN', 'RS7 PRESTIGE', 'RSX NAN', 'RSX TYPE-S', 'RV NAN', 'RX 300', 'RX 330', 'RX 350', 'RX 350 BASE', 'RX 350 L', 'RX 400', 'RX 400 HYB', 'RX 400 HYBRID', 'RX 400H', 'RX 450', 'RX 450H', 'RX 450H L', 'RX NAN', 'RX300 NAN', 'RX330 NAN', 'RX350 NAN', 'RX400 NAN', 'RX7 NAN', 'RX8 NAN', 'S 2000', 'S 320', 'S 320W', 'S 350', 'S 350 BLUE', 'S 350D', 'S 40', 'S 400', 'S 420', 'S 430', 'S 430 4MATIC', 'S 450', 'S 500', 'S 500 4MATIC', 'S 55 AMG', 'S 550', 'S 550 4MATIC', 'S 550E', 'S 560', 'S 560 4MATIC', 'S 600', 'S 63 AMG', 'S 65 AMG', 'S CLASS', 'S CLASS S6', 'S MERCEDES', 'S NAN', 'S TRUCK/S1', 'S TYPE', 'S-70 NAN', 'S-TYPE 4.2', 'S-TYPE NAN', 'S-TYPE R', 'S-TYPE SPO', 'S-TYPE SPORT', 'S1 NAN', 'S10 BLAZER', 'S10 NAN', 'S10 PICKUP', 'S10 PU 4X4', 'S10 PU EXT', 'S15 JIMMY', 'S15 LIMO', 'S2 NAN', 'S2000 CR/C', 'S2000 NAN', 'S3 NAN', 'S3 PREMIUM', 'S3 PRESTIG', 'S3 PRESTIGE', 'S320 NAN', 'S320W NAN', 'S350 BLUET', 'S350 NAN', 'S350D NAN', 'S4 2.7 QUA', 'S4 2.7 QUATTRO', 'S4 AVANT Q', 'S4 NAN', 'S4 PREMIUM', 'S4 PRESTIGE', 'S4 QUATTRO', 'S40 1.9T', 'S40 2.4I', 'S40 NAN', 'S40 T5', 'S40 T5 AWD', 'S40 T5 FWD', 'S400 HYBRI', 'S400 HYBRID', 'S400 NAN', 'S420 NAN', 'S430 4MATI', 'S430 4MATIC', 'S430 NAN', 'S450 NAN', 'S5 NAN', 'S5 PREMIUM', 'S5 PRESTIGE', 'S5 PROGRES', 'S5 QUATTRO', 'S500 4MATI', 'S500 4MATIC', 'S500 NAN', 'S55 AMG', 'S550 4MATI', 'S550 4MATIC', 'S550 NAN', 'S550E NAN', 'S6 AVANT Q', 'S6 AVNT QU', 'S6 NAN', 'S6 PREMIUM', 'S6 PRESTIGE', 'S6 QUATTRO', 'S60 2.4T', 'S60 2.5T', 'S60 2.5T A', 'S60 2.5T F', 'S60 DYNAMI', 'S60 NAN', 'S60 PLATINUM', 'S60 PREMIE', 'S60 PREMIUM', 'S60 R', 'S60 T5', 'S60 T6', 'S60 T6 AWD', 'S600 NAN', 'S63 AMG', 'S7 NAN', 'S7 PREMIUM', 'S7 PRESTIG', 'S7 PRESTIGE', 'S70 AWD', 'S70 BASE', 'S70 GLT', 'S70 GLT/SE', 'S70 NAN', 'S70 SE', 'S70 T5 TURBO', 'S70 TURBO', 'S70/SE NAN', 'S8 NAN', 'S8 QUATTRO', 'S80 2.5T', 'S80 2.5T A', 'S80 2.5T F', 'S80 3.2', 'S80 3.2 FW', 'S80 NAN', 'S80 PLATINUM', 'S80 PREMIUM', 'S80 T6', 'S80 T6 AWD', 'S80 T6 EXE', 'S80 T6 TURBO', 'S80 T6/EXE', 'S80 T6/T6', 'S80 V8', 'S80 V8 AWD', 'S90 NAN', 'S90 T5', 'S90 T6', 'SABLE GS', 'SABLE GS/G', 'SABLE GS/L', 'SABLE LS', 'SABLE LS P', 'SABLE LS/L', 'SABLE LUXU', 'SABLE LUXURY', 'SABLE NAN', 'SABLE PREM', 'SABLE PREMIUM', 'SAFARI NAN', 'SAFARI SL', 'SAFARI XT', 'SALON NAN', 'SANTA FE', 'SANTA FE G', 'SANTA FE L', 'SANTA FE S', 'SATELLITE NAN', 'SAVANA G15', 'SAVANA G25', 'SAVANA G35', 'SAVANA NAN', 'SAVANA RV', 'SAVANA2500 NAN', 'SAVOY NAN', 'SC 300', 'SC 400', 'SC 430', 'SC NAN', 'SC1 NAN', 'SC2 NAN', 'SC90 NAN', 'SCAMP NAN', 'SCION FR-S', 'SCION IA', 'SCION IM', 'SCION IQ', 'SCION NAN', 'SCIROCCO 1', 'SCIROCCO D', 'SCIROCCO NAN', 'SCOTTSDALE NAN', 'SCOUPE LS', 'SCRAMBLER NAN', 'SEABREEZE NAN', 'SEBRING GT', 'SEBRING JX', 'SEBRING LI', 'SEBRING LX', 'SEBRING NAN', 'SEBRING SP', 'SEBRING TO', 'SEBRINGJXI NAN', 'SED NAN', 'SEDAN DEVI', 'SEDAN NAN', 'SEDONA EX', 'SEDONA EX/', 'SEDONA L', 'SEDONA LX', 'SEDONA NAN', 'SEDONA SXL', 'SENECA NAN', 'SENTRA 1.8', 'SENTRA 2.0', 'SENTRA 2.5', 'SENTRA BASE', 'SENTRA CA', 'SENTRA E', 'SENTRA E/X', 'SENTRA FE', 'SENTRA GXE', 'SENTRA NAN', 'SENTRA S', 'SENTRA S/S', 'SENTRA SE', 'SENTRA SE-', 'SENTRA SL', 'SENTRA SR', 'SENTRA XE', 'SENTRA XE/', 'SENTRA/S/S NAN', 'SENTRA/XE/ NAN', 'SEPHIA BASE', 'SEPHIA LS', 'SEPHIA RS', 'SEPHIA RS/', 'SEPHIA/LS NAN', 'SEQUOIA LI', 'SEQUOIA NAN', 'SEQUOIA PL', 'SEQUOIA SR', 'SERIES 61', 'SERIES 62', 'SERIES 63', 'SERIES 65', 'SERIES 7', 'SERIES 75', 'SEVILLE NAN', 'SEVILLE SL', 'SEVILLE ST', 'SEVILLE TO', 'SHADOW AME', 'SHADOW COU', 'SHADOW ES', 'SHADOW NAN', 'SHELBY NAN', 'SHORT BED', 'SI NAN', 'SIENNA BASE', 'SIENNA CE', 'SIENNA CE/', 'SIENNA LE', 'SIENNA LE/', 'SIENNA NAN', 'SIENNA SE', 'SIENNA SPO', 'SIENNA SPORT', 'SIENNA XLE', 'SIENNA/CE NAN', 'SIENNA/LE NAN', 'SIERRA 15', 'SIERRA C15', 'SIERRA C25', 'SIERRA C35', 'SIERRA DEN', 'SIERRA GRA', 'SIERRA K15', 'SIERRA K25', 'SIERRA K35', 'SIERRA NAN', 'SIERRA1500 NAN', 'SIL CLOUD', 'SIL NAN', 'SIL SHADOW', 'SILHOUETTE NAN', 'SILVER SER', 'SILVER SHA', 'SILVER SHADOW', 'SILVER SPI', 'SILVER SPU', 'SILVER WRA', 'SILVERADO NAN', 'SILVIA NAN', 'SILVR SPUR', 'SILVRSHADW NAN', 'SILVSHADII NAN', 'SILVSTREAK NAN', 'SIMCA NAN', 'SKID STEER', 'SKY NAN', 'SKY REDLIN', 'SKYLARK CU', 'SKYLARK NAN', 'SKYLIN NAN', 'SKYLINE GT', 'SKYLINE NAN', 'SKYLINER NAN', 'SL 320', 'SL 400', 'SL 450', 'SL 500', 'SL 500R', 'SL 55 AMG', 'SL 550', 'SL 600', 'SL 63 AMG', 'SL NAN', 'SL SPRING', 'SL1 NAN', 'SL2 NAN', 'SL320 NAN', 'SL400 NAN', 'SL450 NAN', 'SL500 NAN', 'SL500R NAN', 'SL55 AMG', 'SL550 NAN', 'SL600 NAN', 'SL63 AMG', 'SL65 AMG', 'SLC 300', 'SLC 43', 'SLC 43 AMG', 'SLC 450', 'SLC NAN', 'SLK 230', 'SLK 230 KO', 'SLK 250', 'SLK 280', 'SLK 300', 'SLK 32 AMG', 'SLK 320', 'SLK 350', 'SLK 55 AMG', 'SLK NAN', 'SLK250 NAN', 'SLK280 NAN', 'SLK300 NAN', 'SLK320 NAN', 'SLK350 NAN', 'SLK55 AMG', 'SLR NAN', 'SLS AMG', 'SLS NAN', 'SLVRCLOUD2 NAN', 'SLX NAN', 'SMALL PU', 'SMART NAN', 'SMARTCAR NAN', 'SOLARA NAN', 'SOLARA SLE', 'SOLSTICE G', 'SOLSTICE NAN', 'SOLSTICE S', 'SONATA BASE', 'SONATA ECO', 'SONATA GL', 'SONATA GLS', 'SONATA HYB', 'SONATA HYBRID', 'SONATA LIM', 'SONATA NAN', 'SONATA PLU', 'SONATA SE', 'SONATA SE/', 'SONATA SPO', 'SONATA SPORT', 'SONATA V-6', 'SONATA/GL NAN', 'SONIC LS', 'SONIC LT', 'SONIC LTZ', 'SONIC NAN', 'SONIC PREMIUM', 'SONIC RS', 'SONOMA NAN', 'SONOTA NAN', 'SOPPORO NAN', 'SORENTO BA', 'SORENTO EX', 'SORENTO LX', 'SORENTO NAN', 'SORENTO SX', 'SOUL !', 'SOUL +', 'SOUL +/!/S', 'SOUL +/|/S', 'SOUL 4D', 'SOUL EV', 'SOUL EXCLA', 'SOUL NAN', 'SOUL PLUS', 'SOUTHWIND NAN', 'SPARK 1LT', 'SPARK 2LT', 'SPARK ACTIVE', 'SPARK EV 1', 'SPARK EV 2', 'SPARK EV 2.0', 'SPARK LS', 'SPARK NAN', 'SPECIAL DX', 'SPECIAL NAN', 'SPECTRA BA', 'SPECTRA EX', 'SPECTRA GS', 'SPECTRA LX', 'SPECTRA NAN', 'SPECTRA SX', 'SPECTRA/LS NAN', 'SPECTRA5 5', 'SPECTRA5 NAN', 'SPECTRA5 S', 'SPEED 3', 'SPEED 6', 'SPEED PROT', 'SPEEDSTER NAN', 'SPIDER 124', 'SPIDER NAN', 'SPIRIT ES', 'SPIRIT LE', 'SPIRIT NAN', 'SPORT FURY', 'SPORT NAN', 'SPORTAGE B', 'SPORTAGE E', 'SPORTAGE L', 'SPORTAGE NAN', 'SPORTAGE S', 'SPORTAGE/L NAN', 'SPORTAGELX NAN', 'SPORTV NAN', 'SPORTVAN G', 'SPORTVAN NAN', 'SPRINT NAN', 'SPRINTER 2', 'SPRINTER 3', 'SPRINTER NAN', 'SPRINTER V', 'SPYDER CAM', 'SPYDER NAN', 'SQ5 NAN', 'SQ5 PREMIU', 'SQ5 PREMIUM', 'SQ5 PRESTI', 'SQ5 PRESTIGE', 'SQ5 QUATTRO', 'SQUAREBACK NAN', 'SR5 1/2 TO', 'SR5 NAN', 'SRX AWD', 'SRX LUXURY', 'SRX NAN', 'SRX PERFOR', 'SRX PREMIU', 'SRX PREMIUM', 'SS NAN', 'ST1300 NAN', 'STANDARD 4', 'STANDARD E', 'STANDARD NAN', 'STANDARD/X NAN', 'STANZA NAN', 'STARCHIEF NAN', 'STARFIRE NAN', 'STARLET NAN', 'STEALTH ES', 'STEALTH NAN', 'STEALTH R', 'STEALTH R/', 'STEPSIDE NAN', 'STINGER GT', 'STINGER NAN', 'STINGER PR', 'STINGRAY NAN', 'STRATUS ES', 'STRATUS NAN', 'STRATUS R', 'STRATUS R/', 'STRATUS SE', 'STRATUS SX', 'STREAMLINE NAN', 'STS AWD', 'STS LUXURY', 'STS NAN', 'STS-V NAN', 'STUDBAKER NAN', 'STYLUS S', 'SUBUR 1500', 'SUBUR 2500', 'SUBURAN NAN', 'SUBURBAN C', 'SUBURBAN K', 'SUBURBAN NAN', 'SUBURBAN R', 'SUBURBAN V', 'SUMMIT AWD', 'SUMMIT DL', 'SUMMIT ES', 'SUMMIT ES/', 'SUNBIRD GT', 'SUNBIRD LE', 'SUNBIRD NAN', 'SUNBIRD SE', 'SUNDANCE D', 'SUNDANCE NAN', 'SUNFIRE GT', 'SUNFIRE NAN', 'SUNFIRE SE', 'SUPER 88', 'SUPER BEE', 'SUPER BEET', 'SUPER DUTY', 'SUPER V8', 'SUPRA NAN', 'SUPRA SPORT', 'SUPRA W-SP', 'SVX L', 'SVX L AWD', 'SVX LE', 'SVX LS-L', 'SVX LSI', 'SVX LSI AW', 'SVX LSL', 'SVX NAN', 'SW NAN', 'SW1 NAN', 'SW2 NAN', 'SXS700 M2', 'SYCLONE NAN', 'T BIRD', 'T C SIG/D', "T'PORTER NAN", 'T-BIRD NAN', 'T-C BY MAS', 'T1 NAN', 'T100 1 TON', 'T100 NAN', 'T100 SR5', 'T100 XTRAC', 'T6F042-FTR NAN', 'TACOMA 4X2', 'TACOMA ACC', 'TACOMA DBC', 'TACOMA DOU', 'TACOMA NAN', 'TACOMA PRE', 'TACOMA PRERUNNER', 'TACOMA SR5', 'TACOMA XTR', 'TAHOE C150', 'TAHOE HYBRID', 'TAHOE K150', 'TAHOE LS', 'TAHOE LT', 'TAHOE LTZ', 'TAHOE NAN', 'TAHOE POLI', 'TAHOE SPECIAL', 'TALON DL', 'TALON ES', 'TALON ESI', 'TALON NAN', 'TALON TSI', 'TAUR WAGON', 'TAURUS G', 'TAURUS GL', 'TAURUS GL/', 'TAURUS INT', 'TAURUS L', 'TAURUS LIM', 'TAURUS LX', 'TAURUS LX/', 'TAURUS NAN', 'TAURUS POL', 'TAURUS SE', 'TAURUS SEL', 'TAURUS SES', 'TAURUS SHO', 'TAURUS X', 'TAURUS X E', 'TAURUS X L', 'TAURUS X S', 'TBIRD NAN', 'TC BY MASE', 'TC NAN', 'TEMPEST NAN', 'TEMPO GL', 'TEMPO L', 'TEMPO LX', 'TEMPO NAN', 'TERCEL CE', 'TERCEL DEL', 'TERCEL DELUXE', 'TERCEL DX', 'TERCEL NAN', 'TERCEL STD', 'TERRAIN 4D', 'TERRAIN DE', 'TERRAIN NAN', 'TERRAIN SL', 'TERRAZA CX', 'TERRAZA IN', 'TESLA NAN', 'TESTAROSSA NAN', 'THING NAN', 'THINK NEIG', 'THUNDERBIR NAN', 'THUNDERBIRD NAN', 'TIBURON FX', 'TIBURON GS', 'TIBURON GT', 'TIBURON NAN', 'TIGUAN LIM', 'TIGUAN NAN', 'TIGUAN S', 'TIGUAN S/S', 'TIGUAN SE', 'TIGUAN SE/', 'TIGUAN SEL', 'TIGUAN SPORT', 'TIGUAN WOL', 'TIOGA NAN', 'TITAN CREW', 'TITAN KING', 'TITAN NAN', 'TITAN S/SV', 'TITAN XE/S', 'TL ADVANCE', 'TL AWD', 'TL AWD ADV', 'TL AWD TEC', 'TL NAN', 'TL SE', 'TL TECH', 'TL TYPE S', 'TL TYPE-S', 'TLX ADVANC', 'TLX NAN', 'TLX TECH', 'TLX TECH+A', 'TOPAZ GS', 'TORINO ELI', 'TORINO GT', 'TORINO NAN', 'TORONADO B', 'TORONADO NAN', 'TORONADO T', 'TORPEDO NAN', 'TORRENT AW', 'TORRENT GX', 'TORRENT NAN', 'TOUAREG 2', 'TOUAREG 3', 'TOUAREG 3.', 'TOUAREG 4', 'TOUAREG 4.', 'TOUAREG EX', 'TOUAREG HY', 'TOUAREG NAN', 'TOUAREG SP', 'TOUAREG TD', 'TOUAREG V1', 'TOUAREG V6', 'TOUAREG V8', 'TOUAREG WO', 'TOURING NAN', 'TOWN & CNT', 'TOWN & COU', 'TOWN & COUNTRY', 'TOWN CAR', 'TOWN CAR C', 'TOWN CAR D', 'TOWN CAR E', 'TOWN CAR L', 'TOWN CAR S', 'TOWN CAR U', 'TOWN SEDAN', 'TOWN&COUNT NAN', 'TOWNCAR NAN', 'TRACER BASE', 'TRACER GS', 'TRACER GS/', 'TRACER LS', 'TRACER LS/', 'TRACER NAN', 'TRACER/TRI NAN', 'TRACKER LT', 'TRACKER NAN', 'TRACKER ZR', 'TRAIL BLAZ', 'TRAILBLAZE NAN', 'TRAILBLAZER NAN', 'TRAILBLAZR NAN', 'TRAILDUSTR NAN', 'TRANS AM', 'TRANS SPOR', 'TRANS SPORT', 'TRANSAM NAN', 'TRANSIT CO', 'TRANSIT NAN', 'TRANSIT T', 'TRANSIT T-', 'TRANSPORTE NAN', 'TRAVERSE 2', 'TRAVERSE H', 'TRAVERSE L', 'TRAVERSE NAN', 'TRAVERSE P', 'TRAVERSE R', 'TRAX 1LS', 'TRAX 1LS A', 'TRAX 1LT', 'TRAX 1LT A', 'TRAX LS', 'TRAX LTZ', 'TRAX LTZ A', 'TRAX NAN', 'TRAX PREMIUM', 'TRIBECA LI', 'TRIBECA NAN', 'TRIBECA PR', 'TRIBUTE DX', 'TRIBUTE ES', 'TRIBUTE I', 'TRIBUTE LX', 'TRIBUTE S', 'TROOPER II', 'TROOPER LS', 'TROOPER NAN', 'TROOPER RS', 'TROOPER S', 'TROOPER S/', 'TRUCK NAN', 'TRUCKBED NAN', 'TRX350TM NAN', 'TRX420FM NAN', 'TRX420FPM NAN', 'TRX450FM NAN', 'TRX500FM NAN', 'TSX NAN', 'TSX SE', 'TSX TECH', 'TT 2.0T', 'TT 2.0T PR', 'TT 2.0T QU', 'TT 2.0T QUATTRO', 'TT 3.2', 'TT 3.2 QUA', 'TT 3.2 QUATTRO', 'TT COU QUA', 'TT NAN', 'TT NEIMAN', 'TT PREM/PR', 'TT PREMIUM', 'TT PRESTIGE', 'TT QUATTRO', 'TT ROADSTE', 'TT RS PRES', 'TT RS PRESTIGE', 'TTS NAN', 'TTS PREMIUM', 'TTS PRESTIGE', 'TTS QUATTR', 'TUCSON GL', 'TUCSON GL/', 'TUCSON GLS', 'TUCSON LIM', 'TUCSON LIMITED', 'TUCSON NAN', 'TUCSON SE', 'TUCSON SE/', 'TUCSON SEL', 'TUCSON SPORT', 'TUCSON VAL', 'TUDOR NAN', 'TUNDRA ACC', 'TUNDRA CRE', 'TUNDRA DOU', 'TUNDRA LIM', 'TUNDRA NAN', 'TUNDRA SR5', 'TUNDRA/SR5 NAN', 'TURBO NAN', 'TURBO R', 'TURBO-R NAN', 'TWN & CTRY', 'TWO DOOR', 'TYPHOON NAN', 'UD NAN', 'UK NAN', 'UNIMOG NAN', 'UNIVERSAL NAN', 'UNKNOWN NAN', 'UPLANDER I', 'UPLANDER L', 'UPLANDER NAN', 'URACCO NAN', 'URUS NAN', 'UX 250H', 'V10 BLAZER', 'V10 SUBURB', 'V1500 JIMM', 'V1500 SUBU', 'V2500 SUBU', 'V40 1.9T', 'V40 NAN', 'V50 2.4I', 'V50 NAN', 'V50 T5', 'V50 T5 AWD', 'V60 CROSS', 'V60 NAN', 'V60 PLATINUM', 'V60 PREMIE', 'V60 PREMIUM', 'V60 T5', 'V60 T5 PRE', 'V70 2.4T', 'V70 2.5T', 'V70 3.2', 'V70 AWD', 'V70 AWD CR', 'V70 BASE', 'V70 FWD', 'V70 GLT', 'V70 GLT/AW', 'V70 NAN', 'V70 R', 'V70 T5 TURBO', 'V70 TURBO', 'V70 XC', 'V70 XC AWD', 'V70/SE NAN', 'V70R AWD', 'V70XC AWD', 'V70XC AWD/', 'V8 QUATTRO', 'V90 NAN', 'VALIANT NAN', 'VAN NAN', 'VAN WAGON', 'VANAGON BU', 'VANAGON CA', 'VANAGON KO', 'VANAGON NAN', 'VANDEN PLA', 'VANDEN PLATINUM', 'VANDENPLAS NAN', 'VANDURA NAN', 'VANNAGON NAN', 'VEGA NAN', 'VEHICROSS NAN', 'VELOSTER B', 'VELOSTER NAN', 'VELOSTER T', 'VENTURA NAN', 'VENTURE EC', 'VENTURE IN', 'VENTURE LS', 'VENTURE LT', 'VENTURE LU', 'VENTURE NAN', 'VENZA BASE', 'VENZA LE', 'VENZA LE/X', 'VENZA NAN', 'VERACRUZ G', 'VERACRUZ NAN', 'VERACRUZGL NAN', 'VERANO CON', 'VERANO NAN', 'VERANO PRE', 'VERANO SPORT', 'VERSA BASE', 'VERSA NAN', 'VERSA NO S', 'VERSA NOTE', 'VERSA S', 'VERSA S/S', 'VERSA S/SL', 'VERSA S/SV', 'VERSA SV', 'VF700C NAN', 'VF750C NAN', 'VFR1200F NAN', 'VIBE AWD', 'VIBE GT', 'VIBE NAN', 'VICTORIA NAN', 'VIGOR GS', 'VIGOR LS', 'VILLAGER E', 'VILLAGER NAN', 'VILLAGER S', 'VIPER GTC', 'VIPER GTS', 'VIPER GTS/', 'VIPER NAN', 'VIPER RT-1', 'VIPER SRT', 'VIPER SRT-', 'VISION ESI', 'VISION TSI', 'VISTA CRUI', 'VISTA NAN', 'VN NAN', 'VNL NAN', 'VOLARE NAN', 'VOLKSWAGEN NAN', 'VOLT LT', 'VOLT LTZ', 'VOLT NAN', 'VOLT PREMIUM', 'VOYAGER EC', 'VOYAGER LE', 'VOYAGER LX', 'VOYAGER NAN', 'VOYAGER SE', 'VT1300S NAN', 'VT750C NAN', 'VT750C2F NAN', 'VT750CA NAN', 'VT750CD2 NAN', 'VTR1000F NAN', 'VTX1300C NAN', 'VTX1300R NAN', 'VTX1800C NAN', 'VTX1800N1 NAN', 'VUE AWD', 'VUE HYBRID', 'VUE NAN', 'VUE REDLIN', 'VUE XE', 'VUE XR', 'VUE XR AWD', 'W-100 NAN', 'W-250 NAN', 'W100 NAN', 'W65042 NAN', 'WAGON LS', 'WAGON NAN', 'WAGONEER L', 'WAGONEER NAN', 'WAGONEER W', 'WAVE NAN', 'WESTFALIA NAN', 'WILLEY NAN', 'WILLEYS NAN', 'WILLY NAN', 'WILLYS NAN', 'WINDSOR NAN', 'WINDSTAR C', 'WINDSTAR L', 'WINDSTAR NAN', 'WINDSTAR S', 'WINDSTAR W', 'WOODY NAN', 'WRA SAHARA', 'WRAITH NAN', 'WRANGLER /', 'WRANGLER C', 'WRANGLER I', 'WRANGLER J', 'WRANGLER L', 'WRANGLER NAN', 'WRANGLER R', 'WRANGLER S', 'WRANGLER U', 'WRANGLER X', 'WRANGLER Y', 'WRANGLER/Y NAN', 'WRX LIMITE', 'WRX LIMITED', 'WRX NAN', 'WRX PREMIU', 'WRX PREMIUM', 'WRX STI', 'WRX STI LA', 'WRX STI LI', 'X 1/9', 'X TYPE 2.5', 'X-TRAIL NAN', 'X-TRAIL XE', 'X-TYPE 2.5', 'X-TYPE 3.0', 'X-TYPE NAN', 'X-TYPE SPO', 'X-TYPE SPORT', 'X-TYPE SPT', 'X1 NAN', 'X1 SDRIVE2', 'X1 XDRIVE2', 'X1 XDRIVE3', 'X19 NAN', 'X2 SDRIVE2', 'X2 XDRIVE2', 'X3 2.5', 'X3 2.5I', 'X3 3.0', 'X3 3.0I', 'X3 3.0SI', 'X3 NAN', 'X3 SDRIVE', 'X3 SDRIVE2', 'X3 SDRIVE3', 'X3 XDRIVE', 'X3 XDRIVE2', 'X3 XDRIVE3', 'X3 XDRIVEM', 'X4 NAN', 'X4 XDRIVE', 'X4 XDRIVE2', 'X4 XDRIVE3', 'X4 XDRIVEM', 'X5 3.0I', 'X5 4.4I', 'X5 4.6IS', 'X5 4.8I', 'X5 4.8IS', 'X5 M', 'X5 NAN', 'X5 SDRIVE3', 'X5 XDR40E', 'X5 XDRIVE3', 'X5 XDRIVE4', 'X5 XDRIVE5', 'X6 HYBRID', 'X6 M', 'X6 NAN', 'X6 SDRIVE3', 'X6 XDRIVE3', 'X6 XDRIVE5', 'XA NAN', 'XB NAN', 'XC60 3.2', 'XC60 3.2 P', 'XC60 NAN', 'XC60 T5', 'XC60 T5 PL', 'XC60 T5 PR', 'XC60 T6', 'XC60 T6 PL', 'XC60 T6 PR', 'XC70 3.2', 'XC70 3.2 P', 'XC70 NAN', 'XC70 T5', 'XC70 T5 PR', 'XC70 T6', 'XC70 T6 PR', 'XC90 3.2', 'XC90 3.2 A', 'XC90 3.2 F', 'XC90 NAN', 'XC90 R-DES', 'XC90 SPORT', 'XC90 T5', 'XC90 T6', 'XC90 T8', 'XC90 V8', 'XD NAN', 'XE BASE', 'XE NAN', 'XE PREMIUM', 'XE PRESTIGE', 'XE R -', 'XE S', 'XF 2.0T PR', 'XF 3.0 SPO', 'XF 3.0 SPORT', 'XF BASE', 'XF LUXURY', 'XF NAN', 'XF PORTFOL', 'XF PREMIUM', 'XF PRESTIGE', 'XF R', 'XF R SPORT', 'XF S', 'XF SUPERCH', 'XG 300', 'XG 350', 'XG NAN', 'XG300 NAN', 'XG350 NAN', 'XJ BASE', 'XJ L BASE', 'XJ L SUPER', 'XJ NAN', 'XJ PORTFOL', 'XJ R -', 'XJ SPORT', 'XJ SUPER V', 'XJ SUPERCH', 'XJ VANDEN', 'XJ-SC HE', 'XJ12 NAN', 'XJ12L NAN', 'XJ4D NAN', 'XJ6 BASELI', 'XJ6 L', 'XJ6 NAN', 'XJ6 SOVERE', 'XJ6 VANDEN', 'XJ6L NAN', 'XJ8 L', 'XJ8 NAN', 'XJL BASE', 'XJL NAN', 'XJL PORTFO', 'XJL SUPERC', 'XJL SUPERS', 'XJR NAN', 'XJR S', 'XJR-S NAN', 'XJS 2+2', 'XJS CLASSI', 'XJS CLASSIC', 'XJS NAN', 'XJS PALETT', 'XJSC HE', 'XK NAN', 'XK PORTFOL', 'XK140 NAN', 'XK8 NAN', 'XKE NAN', 'XKR NAN', 'XKR PORTFO', 'XKR S', 'XLR NAN', 'XLR-V NAN', 'XT 6 AWD', 'XT GL AWD', 'XT4 PREMIUM', 'XT4 SPORT', 'XT5 LUXURY', 'XT5 NAN', 'XT5 PLATINUM', 'XT5 PREMIUM', 'XTERRA 4.0', 'XTERRA NAN', 'XTERRA OFF', 'XTERRA SE', 'XTERRA X', 'XTERRA X/S', 'XTERRA XE', 'XTERRA XE/', 'XTS DELIVE', 'XTS FUNERA', 'XTS LIMOUS', 'XTS LUXURY', 'XTS NAN', 'XTS PLATIN', 'XTS PLATINUM', 'XTS PREMIU', 'XTS PREMIUM', 'XTS VSPORT', 'XV CROSSTR', 'XV CROSSTREK', 'YARIS IA', 'YARIS L', 'YARIS L/LE', 'YARIS NAN', 'YEOMAN NAN', 'YUK/DEN NAN', 'YUKON DENA', 'YUKON HYBR', 'YUKON HYBRID', 'YUKON NAN', 'YUKON SLE', 'YUKON SLT', 'YUKON XL', 'YUKON XL C', 'YUKON XL D', 'YUKON XL K', 'YUKON/DENA NAN', 'Z06 NAN', 'Z28 NAN', 'Z3 1.9', 'Z3 2.3', 'Z3 2.5', 'Z3 2.8', 'Z3 3.0', 'Z3 NAN', 'Z4 2.5', 'Z4 2.5I', 'Z4 3.0', 'Z4 3.0 SDR', 'Z4 3.0 SDRIVE', 'Z4 3.0I', 'Z4 3.0SI', 'Z4 NAN', 'Z4 SDRIVE2', 'Z4 SDRIVE3', 'Z71 NAN', 'Z8 NAN', 'ZDX ADVANC', 'ZDX NAN', 'ZDX TECH', 'ZDX TECHNO', 'ZEPHYR NAN']

In [ ]:
model_year_count = out_df['Model_Year'].value_counts()
print('total count:',out_df.shape[0],'\ntotal count (model_year >= 2000):', out_df.loc[out_df.Model_Year >=2000].shape[0])
model_year_count.head(20)Z

In [ ]:
out_df.columns

In [ ]:
numerical_fields_bins = {'Actual_Cash_Value' : [],
'Price_Sold_or_Highest_Bid': [],
'Repair_Cost': [],
'Odometer_Null': [],
'Odometer_Replace': [],
'Model_Age': }

In [ ]:
#histomgram for conitnuous variables
fig , axs = plt.subplots(len(numerical_fields) ,2, figsize=(12,29),sharex=False)


i=0
for var in numerical_fields:
    # hist_df_lb ,hist_df_hb = out_df[var].loc[lambda x: x <=3e4] , out_df[var].loc[lambda x: x >=1e4]
    df_to_print = (out_df[var] // 100).value_counts().to_frame().sort_values(by=var)
    df_to_print.to_csv(f'csv/{var}_hist.csv')
    print(df_to_print)
    # hist_df_lb.plot.hist(bins=10, ax= axs[i][0])
    # hist_df_hb.plot.hist(bins=10, ax= axs[i][1])
    
    # axs[i][0].set(title = var + ' <100k bin')
    # axs[i][1].set(title = var + ' >100k bin')
    i+=1

In [ ]:
out_df.columns

In [ ]:
#value distribution for Description 

desc_val_dist = out_df['Description'].value_counts()

desc_val_dist[:30]

In [116]:
#value distribution for Prim Damage 

prim_val_dist = out_df['Prim_Damage'].value_counts()

prim_val_dist[:30]

front end               398126
rear end                 95650
mechanical               90439
side                     84045
minor dent/scratches     82229
normal wear              46476
all over                 29316
water/flood              29199
minor dents/scratche     22681
hail                     11660
rollover                 10937
damage history            8386
undercarriage             8083
partial repair            7653
vandalism                 5785
frame damage              4661
burn                      3564
top/roof                  3247
stripped                  2729
biohazard/chemical        1276
burn - interior            808
previous repair            345
rejected repair            328
biohazardous/chemica       143
missing/altered vin        107
no data                     91
replaced vin                80
cash for clunkers            1
Name: Prim_Damage, dtype: int64

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(cond_on_make)

In [ ]:
plt.figure()
ax = by_couny[:20].plot.bar()
ax.set(title='Top 20 Counties by # records',ylabel='# observations');

In [ ]:
#categories for all categorical variables 
# categorial_variables = ['Prim_Damage'
#                         ,'Sec_Damage'
#                         ,'Make'
#                         ,'Model' # - to many categories >2000
#
                        #  ]  
out_df[categorial_variables]  =out_df[categorial_variables].astype('category')

print(out_df[categorial_variables].describe().to_string(),'\n\n')

cat_df = {}
for col in categorial_variables:
    print(col, ' - ', out_df[col].cat.categories.tolist(),'\n')
    cat_df[col] = out_df[col].cat.categories.tolist()

In [6]:
print('end')

end