In [1]:
import pandas as pd
import numpy as np
import glob, sys, os, time , itertools , warnings , re , json
from bs4 import BeautifulSoup
from tqdm import tqdm
import matplotlib.pyplot as plt
import multiprocessing as mp
# from DataProcessing import 
import uszipcode , pickle 
from TempFolder.TempFolder import Temp



# importing all necessary libraries 
import chart_studio.plotly as py 
import plotly.graph_objs as go 
import pandas as pd 
  
# some more libraries to plot graph 
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot, plot 
# To establish connection 
init_notebook_mode(connected = True) 


warnings.filterwarnings('ignore')

In [2]:
with open('nogit\\path','r') as f:
    path_to_csv = f.read()
path_to_processed_csv =path_to_csv + 'SC-csv\\'
Temp.set_path(path_to_csv +'SC-temp\\')
path_to_temp_csv = path_to_csv+'SC-working-folder\\'
colummn_names = ['Description'
                 ,'Title State/Type'
                 ,'Location'
                 ,'null'
                 ,'Auction Date'
                 ,'Actual Cash Value'
                 ,'Repair Cost'
                 ,'Odometer'
                 ,'Prim Damage'
                 ,'Sec Damage'
                 ,'Price Sold or Highest Bid']
path_to_makes = glob.glob(path_to_csv+'Cars\\*')
search = uszipcode.SearchEngine(simple_zipcode=True)
path_to_all_years = list(itertools.chain.from_iterable([glob.glob(path+'\\*') for path in path_to_makes]))
search = uszipcode.SearchEngine(simple_zipcode=True)

In [3]:
# #%%time
# '''
# Parse the HTML files
# '''

# #
# #Read and parse scraped .html files 
# def process_files(path_to_years__):
#     res_df = pd.DataFrame()
#     #for each make/year folder get a list of all .html files
#     #for path_to__year in tqdm(path_to_years__):
#     for path_to__year in path_to_years__:
#         try:
#             #list of all html
#             path_to_make_years = glob.glob(path_to__year+'/*')

#             #for each .html in the folder
#             for file_path in path_to_make_years:
#             #file_path = path_to_make_years[0]
            
#                 #read file and load to the BS object
#                 with open(file_path, 'r') as f:
#                     fle = f.read()
#                 soup = BeautifulSoup(fle)

#                 rows = []
#                 line_ind = 0 
                
#                 #filter all div elements (div table)
#                 for div in soup.find_all('div',['row']):
#                     row = div.text.strip()
#                     #print(row)
#                     try:
#                         line_dict = {}
#                         i = 0
                        
#                         #clean each element and map to respected column
#                         for line in row.replace('\t','').replace('\xa0','').split('\n'):
#                             line_dict[colummn_names[i]]= line.replace('Location:','').replace('Title State/Type:','').strip()
#                             i+=1
#                         rows.append(line_dict)
#                     except Exception as e:
#                         #print(line_ind,'-',e)
#                         pass
#                     finally:
#                         line_ind+=1

#                 page_df = pd.DataFrame(rows).iloc[3:,:-1]
#                 page_df_ext = page_df.join(page_df['Description'].str.split(' ',expand=True).rename(columns={0:'Year',1:'Make',2:'Model',3:'Model 2',4:'Model 3'}))
#                 page_df_ext = page_df_ext.join(page_df_ext['Location'].str.split('-',expand=True).rename(columns={0:'State',1:'City'}))
#                 page_df_ext['City'] = page_df_ext['City'].str.strip().str.capitalize()
#                 page_df_ext['State'] = page_df_ext['State'].str.strip()
#                 res_df = res_df.append(page_df_ext,ignore_index=True,sort=False)
#                 del rows , page_df_ext , page_df
#         except:
#             continue
#     return res_df


# if __name__ == '__main__':
#     print('# files to concat' , len(path_to_all_years))
#     NCPU = mp.cpu_count()
#     print('Creating pool with ', NCPU,' CPUs')
#     pool = mp.Pool(processes=4)
#     # if not os.path.exists(path_to_processed_csv):
#     #     print('Creating output folder')
#     #     os.makedirs(path_to_processed_csv)
    
#     by_chunk_path_to_all_years = np.array_split(path_to_all_years,len(path_to_all_years) // NCPU )
#     start_ = 0
#     end_ = len(by_chunk_path_to_all_years)
#     for i in range(start_,end_):
#         print('Starting with chunk: ',i,' of ',end_)
#         path_to_all_years_split = np.array_split(by_chunk_path_to_all_years[i],NCPU)
#         ress = pool.map(process_files,path_to_all_years_split)
#         ress_df = pd.concat(ress)
#         print('Chunk ',i,' is done.')
#         ress_df.to_csv(path_to_processed_csv+'sc_'+str(i)+'.csv',index=False)
# #         i+=1
# #         if i ==2:
# #             break
#     pool.close()
#     pool.join()
#     print('all work is done')

In [4]:
#Read parsed files
outputs = glob.glob(path_to_processed_csv+'*')
out_l = []
errs = []
for output in tqdm(outputs):
    try:
#     print(output)
        out_l.append(pd.read_csv(output))
    except:
        errs.append(output)
out_df = pd.concat(out_l,ignore_index=True,sort=False)

if len(errs) >0:
    print('Errors:', errs)

100%|██████████| 321/321 [00:03<00:00, 86.76it/s]
Errors: ['c:\\data\\Datasets\\SC-csv\\sc_0.csv', 'c:\\data\\Datasets\\SC-csv\\sc_1.csv', 'c:\\data\\Datasets\\SC-csv\\sc_2.csv', 'c:\\data\\Datasets\\SC-csv\\sc_3.csv', 'c:\\data\\Datasets\\SC-csv\\sc_4.csv', 'c:\\data\\Datasets\\SC-csv\\sc_5.csv', 'c:\\data\\Datasets\\SC-csv\\sc_6.csv', 'c:\\data\\Datasets\\SC-csv\\sc_7.csv']

In [5]:
print(out_df.columns)

row_size = out_df.shape[0]

print('Raw dataset size: ',row_size)


out_df.head(50)

Index(['Actual Cash Value', 'Auction Date', 'Description', 'Location',
       'Odometer', 'Price Sold or Highest Bid', 'Prim Damage', 'Repair Cost',
       'Sec Damage', 'Title State/Type', 'Year', 'Make', 'Model', 'Model 2',
       'State', 'City', 'Model 3', '2', '5'],
      dtype='object')
Raw dataset size:  1048104

,Actual Cash Value,Auction Date,Description,Location,Odometer,Price Sold or Highest Bid,Prim Damage,Repair Cost,Sec Damage,Title State/Type,Year,Make,Model,Model 2,State,City,Model 3,2,5
0,"$ 5,649 USD",10/02/2019,1992 Acura INTEGRA GS,KY - LEXINGTON WEST,146073 A,"$ 3,750 USD",Front end,NaN,NaN,FL RB,1992,Acura,INTEGRA,GS,KY,Lexington west,NaN,NaN,NaN
1,NaN,06/18/2019,1992 Acura INTEGRA LS,CA - SAN JOSE,182250 E,$ 300 USD,Minor dent/scratches,NaN,NaN,CA CQ,1992,Acura,INTEGRA,LS,CA,San jose,NaN,NaN,NaN
2,NaN,05/24/2019,1992 Acura VIGOR GS,NJ - SOMERVILLE,188301 A,$ 575 USD,Front end,NaN,Mechanical,NJ CT,1992,Acura,VIGOR,GS,NJ,Somerville,NaN,NaN,NaN
3,$ 725 USD,11/26/2018,1992 Acura INTEGRA GS,WA - NORTH SEATTLE,300930 E,$ 325 USD,Front end,NaN,Mechanical,WA CT,1992,Acura,INTEGRA,GS,WA,North seattle,NaN,NaN,NaN
4,"$ 1,450 USD",09/12/2018,1992 Acura INTEGRA LS,NY - LONG ISLAND,260216 E,$ 300 USD,Front end,NaN,NaN,NY CT,1992,Acura,INTEGRA,LS,NY,Long island,NaN,NaN,NaN
5,"$ 3,250 USD",12/20/2017,1992 Acura VIGOR GS,CA - MARTINEZ,205852 E,$ 175 USD,Minor dent/scratches,NaN,Side,CA DQ,1992,Acura,VIGOR,GS,CA,Martinez,NaN,NaN,NaN
6,NaN,12/08/2016,1992 Acura LEGEND L,MN - MINNEAPOLIS,144195 E,$ 125 USD,MECHANICAL,NaN,HAIL,MN CT,1992,Acura,LEGEND,L,MN,Minneapolis,NaN,NaN,NaN
7,"$ 1,960 USD",09/13/2016,1992 Acura INTEGRA LS,TN - KNOXVILLE,309149 E,$ 975 USD,SIDE,NaN,NaN,TN CT,1992,Acura,INTEGRA,LS,TN,Knoxville,NaN,NaN,NaN
8,NaN,07/25/2016,1992 Acura LEGEND LS,MD - BALTIMORE,104173 A,$ 150 USD,MINOR DENT/SCRATCHES,NaN,NORMAL WEAR,MD CT,1992,Acura,LEGEND,LS,MD,Baltimore,NaN,NaN,NaN
9,NaN,07/19/2016,1992 Acura LEGEND L,NJ - GLASSBORO EAST,131385 A,$ 200 USD,NORMAL WEAR,NaN,NaN,NJ CT,1992,Acura,LEGEND,L,NJ,Glassboro east,NaN,NaN,NaN
10,NaN,07/13/2016,1992 Acura LEGEND L,CA - MARTINEZ,168702 A,$ 500 USD,FRONT END,NaN,NaN,CA ST,1992,Acura,LEGEND,L,CA,Martinez,NaN,NaN,NaN
11,"$ 1,803.74 USD",05/18/2015,1992 Acura LEGEND L,FL - MIAMI CENTRAL,233596 A,$ 425 USD,FRONT END,"$ 1,803.74 USD",SIDE,FL CD,1992,Acura,LEGEND,L,FL,Miami central,NaN,NaN,NaN
12,NaN,02/20/2015,1992 Acura LEGEND L,MO - ST. LOUIS,142905 E,$ 575 USD,MINOR DENT/SCRATCHES,NaN,NaN,MO CT,1992,Acura,LEGEND,L,MO,St. louis,NaN,NaN,NaN
13,"$ 4,950 USD",11/10/2014,1992 Acura INTEGRA LS,AZ - PHOENIX,178757 A,"$ 1,200 USD",HAIL,NaN,NaN,AZ CT,1992,Acura,INTEGRA,LS,AZ,Phoenix,NaN,NaN,NaN
14,NaN,08/08/2014,1992 Acura LEGEND L,CA - VALLEJO,197111 A,$ 550 USD,FRONT END,NaN,NaN,CA CQ,1992,Acura,LEGEND,L,CA,Vallejo,NaN,NaN,NaN
15,"$ 2,000 USD",07/01/2014,1992 Acura LEGEND LS,GA - ATLANTA SOUTH,139640 E,$ 825 USD,FRONT END,NaN,NaN,GA CT,1992,Acura,LEGEND,LS,GA,Atlanta south,NaN,NaN,NaN
16,"$ 3,000 USD",07/01/2014,1992 Acura LEGEND L,VA - HAMPTON,196143 A,$ 950 USD,NORMAL WEAR,NaN,NaN,VA CT,1992,Acura,LEGEND,L,VA,Hampton,NaN,NaN,NaN
17,NaN,04/29/2014,1992 Acura VIGOR GS,CA - SAN JOSE,216614 A,$ 500 USD,MECHANICAL,NaN,ALL OVER,CA SC,1992,Acura,VIGOR,GS,CA,San jose,NaN,NaN,NaN
18,"$ 2,000 USD",01/07/2014,1992 Acura LEGEND L,CA - SACRAMENTO,194944 A,$ 900 USD,MINOR DENTS/SCRATCHE,NaN,NaN,CA CQ,1992,Acura,LEGEND,L,CA,Sacramento,NaN,NaN,NaN
19,"$ 5,500 USD",12/12/2013,1992 Acura INTEGRA LS,NV - LAS VEGAS,223433 E,$ 500 USD,MINOR DENTS/SCRATCHE,NaN,NaN,NV CT,1992,Acura,INTEGRA,LS,NV,Las vegas,NaN,NaN,NaN
20,NaN,11/15/2013,1992 Acura LEGEND L,TX - EL PASO,260423 E,"$ 7,000 USD",SIDE,NaN,NaN,TX CT,1992,Acura,LEGEND,L,TX,El paso,NaN,NaN,NaN
21,"$ 38,000 USD",11/12/2013,1992 Acura NSX,CA - RANCHO CUCAMONGA,93721 E,"$ 27,000 USD",MECHANICAL,NaN,NaN,CA CQ,1992,Acura,NSX,NaN,CA,Rancho cucamonga,NaN,NaN,NaN
22,"$ 2,995 USD",10/04/2013,1992 Acura LEGEND L,UT - SALT LAKE CITY,135986 E,"$ 1,000 USD",SIDE,NaN,NaN,UT CT,1992,Acura,LEGEND,L,UT,Salt lake city,NaN,NaN,NaN
23,"$ 1,900 USD",08/06/2013,1992 Acura INTEGRA GS,CO - DENVER,197187 A,"$ 1,200 USD",FRONT END,NaN,NaN,CO CT,1992,Acura,INTEGRA,GS,CO,Denver,NaN,NaN,NaN
24,"$ 4,200 USD",06/19/2013,1992 Acura LEGEND L,LA - NEW ORLEANS,120278 E,$ 600 USD,MECHANICAL,NaN,SIDE,LA RC,1992,Acura,LEGEND,L,LA,New orleans,NaN,NaN,NaN
25,"$ 3,500 USD",04/23/2013,1992 Acura LEGEND LS,CA - SAN JOSE,237853 E,"$ 1,100 USD",MINOR DENTS/SCRATCHE,NaN,NaN,CA CQ,1992,Acura,LEGEND,LS,CA,San jose,NaN,NaN,NaN
26,NaN,03/26/2013,1992 Acura LEGEND LS,NJ - GLASSBORO EAST,220560 A,$ 600 USD,MECHANICAL,NaN,NaN,NJ CT,1992,Acura,LEGEND,LS,NJ,Glassboro east,NaN,NaN,NaN
27,NaN,03/13/2013,1992 Acura LEGEND L,CA - MARTINEZ,193346 A,$ 700 USD,MINOR DENTS/SCRATCHE,NaN,NaN,CA CQ,1992,Acura,LEGEND,L,CA,Martinez,NaN,NaN,NaN
28,"$ 4,000 USD",02/25/2013,1992 Acura LEGEND LS,CA - LOS ANGELES,130752 E,"$ 1,000 USD",MINOR DENTS/SCRATCHE,NaN,NaN,CA ST,1992,Acura,LEGEND,LS,CA,Los angeles,NaN,NaN,NaN
29,NaN,12/04/2012,1992 Acura INTEGRA GS,CA - RANCHO CUCAMONGA,187570 E,"$ 1,900 USD",MECHANICAL,NaN,NaN,CA ST,1992,Acura,INTEGRA,GS,CA,Rancho cucamonga,NaN,NaN,NaN
30,"$ 2,500 USD",11/02/2012,1992 Acura LEGEND,CA - VAN NUYS,161073 E,$ 900 USD,FRONT END,NaN,NaN,CA CQ,1992,Acura,LEGEND,NaN,CA,Van nuys,NaN,NaN,NaN
31,"$ 2,500 USD",10/02/2012,1992 Acura INTEGRA LS,NE - LINCOLN,162274 E,$ 750 USD,MECHANICAL,NaN,NaN,MN CT,1992,Acura,INTEGRA,LS,NE,Lincoln,NaN,NaN,NaN
32,"$ 3,500 USD",08/27/2012,1992 Acura INTEGRA GS,CA - LOS ANGELES,145087 E,"$ 1,000 USD",STRIPPED,NaN,MINOR DENTS/SCRATCHES,CA CQ,1992,Acura,INTEGRA,GS,CA,Los angeles,NaN,NaN,NaN
33,"$ 4,000 USD",07/09/2012,1992 Acura LEGEND LS,WA - NORTH SEATTLE,229662 E,"$ 3,000 USD",SIDE,NaN,NaN,WA AL,1992,Acura,LEGEND,LS,WA,North seattle,NaN,NaN,NaN
34,"$ 28,500 USD",06/26/2012,1992 Acura NSX,MN - MINNEAPOLIS NORTH,73574 E,"$ 16,000 USD",NORMAL WEAR,NaN,NaN,MN SH,1992,Acura,NSX,NaN,MN,Minneapolis north,NaN,NaN,NaN
35,"$ 3,375 USD",10/03/2019,1993 Acura LEGEND L,NV - RENO,148007 E,$ 200 USD,Side,NaN,NaN,NV CT,1993,Acura,LEGEND,L,NV,Reno,NaN,NaN,NaN
36,"$ 47,403 USD",10/02/2019,1993 Acura NSX,NY - SYRACUSE,240690 E,"$ 21,000 USD",Side,NaN,Rear end,TX SV,1993,Acura,NSX,NaN,NY,Syracuse,NaN,NaN,NaN
37,NaN,09/30/2019,1993 Acura LEGEND LS,MD - BALTIMORE,213826 A,$ 400 USD,Mechanical,NaN,Minor dent/scratches,MD CT,1993,Acura,LEGEND,LS,MD,Baltimore,NaN,NaN,NaN
38,NaN,09/23/2019,1993 Acura INTEGRA GS,WA - NORTH SEATTLE,226674 E,$ 275 USD,Mechanical,NaN,NaN,WA AL,1993,Acura,INTEGRA,GS,WA,North seattle,NaN,NaN,NaN
39,"$ 1,583 USD",03/21/2019,1993 Acura INTEGRA RS,CA - SAN BERNARDINO,236608 A,$ 200 USD,Mechanical,NaN,NaN,CA SC,1993,Acura,INTEGRA,RS,CA,San bernardino,NaN,NaN,NaN
40,"$ 2,043 USD",01/22/2019,1993 Acura VIGOR GS,CA - FRESNO,181958 A,$ 125 USD,Front end,"$ 4,802 USD",Side,CA SC,1993,Acura,VIGOR,GS,CA,Fresno,NaN,NaN,NaN
41,$ 625 USD,07/25/2018,1993 Acura INTEGRA LS,CA - MARTINEZ,174906 E,$ 275 USD,Front end,NaN,NaN,CA SH,1993,Acura,INTEGRA,LS,CA,Martinez,NaN,NaN,NaN
42,"$ 3,375 USD",07/10/2018,1993 Acura LEGEND L,OK - OKLAHOMA CITY,266040 E,$ 250 USD,Minor dent/scratches,NaN,Front end,OK CT,1993,Acura,LEGEND,L,OK,Oklahoma city,NaN,NaN,NaN
43,"$ 2,790 USD",05/30/2018,1993 Acura INTEGRA,CA - MARTINEZ,283082 E,$ 500 USD,Front end,NaN,NaN,CA CQ,1993,Acura,INTEGRA,NaN,CA,Martinez,NaN,NaN,NaN
44,"$ 1,100 USD",01/19/2018,1993 Acura LEGEND LS,CA - VALLEJO,114922 E,$ 200 USD,Minor dent/scratches,NaN,Mechanical,CA CQ,1993,Acura,LEGEND,LS,CA,Vallejo,NaN,NaN,NaN
45,"$ 3,183 USD",02/07/2017,1993 Acura INTEGRA LS,WA - GRAHAM,171474 E,$ 150 USD,FRONT END,"$ 2,959.96 USD",SIDE,WA BS,1993,Acura,INTEGRA,LS,WA,Graham,NaN,NaN,NaN
46,"$ 1,500 USD",11/21/2016,1993 Acura LEGEND L,WA - NORTH SEATTLE,256979 E,$ 125 USD,FRONT END,NaN,NaN,WA CT,1993,Acura,LEGEND,L,WA,North seattle,NaN,NaN,NaN
47,NaN,08/30/2016,1993 Acura LEGEND L,CA - SACRAMENTO,257644 E,$ 500 USD,FRONT END,NaN,NaN,CA CQ,1993,Acura,LEGEND,L,CA,Sacramento,NaN,NaN,NaN
48,"$ 2,792 USD",08/03/2016,1993 Acura LEGEND L,OR - PORTLAND NORTH,171811 A,$ 125 USD,FRONT END,"$ 3,255.38 USD",MINOR DENT/SCRATCHES,OR SC,1993,Acura,LEGEND,L,OR,Portland north,NaN,NaN,NaN
49,$ 750 USD,05/17/2016,1993 Acura LEGEND L,WA - GRAHAM,201177 E,$ 300 USD,SIDE,NaN,UNDERCARRIAGE,WA AL,1993,Acura,LEGEND,L,WA,Graham,NaN,NaN,NaN

In [6]:
#clean up wrong values 
out_df = out_df.loc[~out_df['Actual Cash Value'].str.contains('Odometer').fillna(False)]
out_df = out_df.loc[~out_df['Year'].str.contains('Make').fillna(False)]
out_df = out_df.loc[~out_df['Year'].str.contains('Model:').fillna(False)]
out_df = out_df.loc[~out_df['Auction Date'].str.contains('Repair Cost').fillna(False)]


#filter out canadian cars
out_df = out_df.loc[~out_df['Price Sold or Highest Bid'].str.contains('CA').fillna(False)
                               ]

out_df['Auction Date'] = pd.to_datetime(out_df['Auction Date'])

out_df['Auction_Year'] = out_df['Auction Date'].dt.year

In [7]:
cleaned_size = out_df.shape[0]
print('Cleaned dataset size:',cleaned_size
      ,'\nRows removed: ', row_size - cleaned_size)

Cleaned dataset size: 1046013
Rows removed:  2091

In [8]:
# # out_df.to_csv(path_to_processed_csv+'SC-countymap.csv',index=False)

# # out_df = pd.read_csv(path_to_processed_csv+'SC-countymap.csv')

# from DataProcessing.DataStats import get_df_stats

# get_df_stats(out_df)

In [9]:
# Combining Prim Damages 
raw_prim_cat = out_df['Prim Damage'].str.lower().unique()
print('Cat count:',raw_prim_cat.shape[0],'\n',raw_prim_cat)

Cat count: 33
 ['front end' 'minor dent/scratches' 'mechanical' 'side' 'normal wear'
 'hail' 'minor dents/scratche' 'stripped' 'all over' 'damage history'
 'partial/incomplete r' 'rear end' 'vandalism' 'water/flood' 'burn'
 'previous repair' 'partial repair' 'top/roof' 'rollover'
 'burn - interior' 'undercarriage' 'biohazard/chemical' 'burn - engine'
 'frame damage' 'missing/altered vin' 'unknown' 'frame damage reporte'
 'replaced vin' 'rejected repair' 'biohazardous/chemica' nan
 'cash for clunkers' 'rr']

In [10]:
prim_damage_map = {
 'burn - engine': 'burn'
, 'partial/incomplete r' : 'partial repair'
, 'frame damage reporte' : 'frame damage'

,'unknown' : 'no data'


, np.nan : 'no data'
,'price sold or highest bid' :'no data'
,'rr' : 'no data'

}
out_df['Prim Damage'] = out_df['Prim Damage'].str.lower().replace(prim_damage_map)

In [11]:
new_prim_cat = out_df['Prim Damage'].str.lower().unique()
print('Cat count:',new_prim_cat.shape[0],'\n',new_prim_cat)

Cat count: 28
 ['front end' 'minor dent/scratches' 'mechanical' 'side' 'normal wear'
 'hail' 'minor dents/scratche' 'stripped' 'all over' 'damage history'
 'partial repair' 'rear end' 'vandalism' 'water/flood' 'burn'
 'previous repair' 'top/roof' 'rollover' 'burn - interior' 'undercarriage'
 'biohazard/chemical' 'frame damage' 'missing/altered vin' 'no data'
 'replaced vin' 'rejected repair' 'biohazardous/chemica'
 'cash for clunkers']

In [12]:
# out_df = out_df.join(out_df['Location'].str.split('-',expand=True).rename(columns={0:'State',1:'City'}))

In [13]:
#fix numerical values
def alter_sting(x):    
    try:
        return float(re.sub('[\$,USD,\, ,E,A,N]','',x))
    except:
#         print(x)
        return np.nan


out_df['Actual Cash Value'] = (out_df['Actual Cash Value']
                               #.fillna(-1)
                               .map(alter_sting))
out_df['Repair Cost'] = (out_df['Repair Cost']
#                          .fillna(-1)
                         .map(alter_sting))

out_df['Price Sold or Highest Bid'] = (out_df['Price Sold or Highest Bid']
                                       #.fillna(-1)
                                       .map(alter_sting))
out_df['Year'] = (out_df['Year']
#                   .fillna(-1)
                  .map(float))

out_df = out_df.rename(columns={'Year':'Model_Year'
                               })
                               #.assign(Model_Year = lambda x: int(x))#pd.to_datetime(x['Model_Year']#.astype(int).astype(str))
                      

out_df['City'] = out_df['City'].str.strip().str.capitalize()
out_df['State'] = out_df['State'].str.strip().str.upper()
out_df['Model_short'] = out_df['Model'].astype('str')
out_df['Model'] = out_df['Model'].astype('str') + ' '+out_df['Model 2'].astype('str').fillna('') + ' ' + out_df['Model 3'].fillna('').astype('str')
out_df['Make'] = out_df['Make'].str.strip().str.upper()
out_df['Model'] = out_df['Model'].str.strip().str.upper()
out_df['Model_short'] = out_df['Model_short'].str.strip().str.upper()

#rename variables - add _ where needed

out_df = out_df.rename({'Price Sold or Highest Bid':'Price_Sold_or_Highest_Bid'
                            ,'Repair Cost':'Repair_Cost'
                            ,'Actual Cash Value':'Actual_Cash_Value'
                            ,'Prim Damage':'Prim_Damage'
                            ,'Sec Damage':'Sec_Damage'
                            ,'Title State/Type':'Title_State_Type'
                            ,'Auction Date':'Auction_Date'
                            },axis=1)



# out_df['Auction_Date'] = out_df['Auction_Date'].dt.year
out_df['Model_Year'] = out_df['Model_Year'].astype(int)

#remove columns 

out_df = out_df.drop(columns=['Model 2','Model 3', '2', '5'])


print('New columns names:',out_df.columns)

New columns names: Index(['Actual_Cash_Value', 'Auction_Date', 'Description', 'Location',
       'Odometer', 'Price_Sold_or_Highest_Bid', 'Prim_Damage', 'Repair_Cost',
       'Sec_Damage', 'Title_State_Type', 'Model_Year', 'Make', 'Model',
       'State', 'City', 'Auction_Year', 'Model_short'],
      dtype='object')

In [14]:
out_df.head()

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,Model_Year,Make,Model,State,City,Auction_Year,Model_short
0,5649.0,2019-10-02,1992 Acura INTEGRA GS,KY - LEXINGTON WEST,146073 A,3750.0,front end,NaN,NaN,FL RB,1992,ACURA,INTEGRA GS,KY,Lexington west,2019,INTEGRA
1,NaN,2019-06-18,1992 Acura INTEGRA LS,CA - SAN JOSE,182250 E,300.0,minor dent/scratches,NaN,NaN,CA CQ,1992,ACURA,INTEGRA LS,CA,San jose,2019,INTEGRA
2,NaN,2019-05-24,1992 Acura VIGOR GS,NJ - SOMERVILLE,188301 A,575.0,front end,NaN,Mechanical,NJ CT,1992,ACURA,VIGOR GS,NJ,Somerville,2019,VIGOR
3,725.0,2018-11-26,1992 Acura INTEGRA GS,WA - NORTH SEATTLE,300930 E,325.0,front end,NaN,Mechanical,WA CT,1992,ACURA,INTEGRA GS,WA,North seattle,2018,INTEGRA
4,1450.0,2018-09-12,1992 Acura INTEGRA LS,NY - LONG ISLAND,260216 E,300.0,front end,NaN,NaN,NY CT,1992,ACURA,INTEGRA LS,NY,Long island,2018,INTEGRA

In [15]:
#format odometer data

#for null model - replace all E  & N values into "No Data" (np.nan)

def odometer_null(x):
    if 'E' in x or 'N' in x:
        return np.nan
    else:
        return alter_sting(x)


    
#create a dictionary for max E value for each model 

odometr_dict = (out_df.loc[out_df['Odometer'].str.contains('A')]
                 .assign(odometer_num = lambda x: x['Odometer'].map(alter_sting)
                        )
                 .groupby('Description')['odometer_num']
                 .max()
                #  [['Odometer','odometer_num']]
                )

#replace E and N values into max of A category
def odometer_replace(x):
    if 'E' in x['Odometer'] or 'N' in x['Odometer']:
        try:
            return odometr_dict[x['Description']]
        except:
            return np.nan
    else:
        return alter_sting(x['Odometer'])


#create null model
out_df = out_df.assign(Odometer_Null = lambda x: x['Odometer'].map(odometer_null))

#create replace model:

out_df = out_df.assign(Odometer_Replace = lambda x: x.apply(odometer_replace,axis=1))


# create Model_Age
# current_year = 2019
out_df['Model_Age'] = (out_df['Auction_Year'] - out_df['Model_Year'] ) + 1 #.dt.days // 365 
# out_df['Model_Year'] = out_df['Model_Year'].dt.year

In [16]:
out_df.tail()

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,Model_Year,Make,Model,State,City,Auction_Year,Model_short,Odometer_Null,Odometer_Replace,Model_Age
1048099,21521.0,2016-08-15,2016 Nissan ROGUE S/SL,FL - JACKSONVILLE EAST,0 N,4900.0,front end,20642.00,BIOHAZARD/CHEMICAL,FL CD,2016,NISSAN,ROGUE S/SL,NaN,NaN,2016,ROGUE,NaN,49819.0,1
1048100,NaN,2016-08-12,2016 Nissan ALTIMA 2.5,AZ - TUCSON,1939 A,6900.0,front end,NaN,NaN,AZ SC,2016,NISSAN,ALTIMA 2.5,NaN,NaN,2016,ALTIMA,1939.0,1939.0,1
1048101,21208.0,2016-08-12,2016 Nissan ROGUE S/SL,TX - HOUSTON,11051 A,2500.0,all over,26661.32,UNDERCARRIAGE,TX SV,2016,NISSAN,ROGUE S/SL,NaN,NaN,2016,ROGUE,11051.0,11051.0,1
1048102,18340.0,2016-08-12,2016 Nissan SENTRA S/S,IL - CHICAGO SOUTH,2607 N,2500.0,front end,22830.00,UNDERCARRIAGE,IL SC,2016,NISSAN,SENTRA S/S,NaN,NaN,2016,SENTRA,NaN,79448.0,1
1048103,18000.0,2016-08-11,2016 Nissan SENTRA S/S,PA - PITTSBURGH NORTH,1742 A,4900.0,front end,NaN,NaN,PA SC,2016,NISSAN,SENTRA S/S,NaN,NaN,2016,SENTRA,1742.0,1742.0,1

In [17]:
%%time
# i = 6
# city = out_df.loc[i,'City']
# state =out_df.loc[i,'State']
# city, state

# geo_found = search.by_city_and_state(city,state)[0]

# geo_found.county , geo_found.state


def find_county(x):
    try:
        return search.by_city_and_state(x[1] , x[0])[0].county
    except:
        return 'None'


locs = out_df['Location'].unique()
locs = locs[~pd.isnull(locs)]

state_city = [l[:2] for l in  list(map(lambda x: x.split(' - '),   locs ) ) #if len(l)>1
             ]





county = list(map(find_county,   state_city ) )

county = [', '.join([l.strip() for l in (county[i].replace('County','')+', '+state_city[i][0]).split(',') ])
 for i in range(len(county))]

loc_lookup = pd.DataFrame({'Location':locs,'County':county}).set_index('Location')['County']

loc_lookup


def map_countries(x):
    try:
        return loc_lookup.loc[x]
    except:
        return 'None'
        
out_df['County'] = out_df['Location'].map(map_countries)
out_df['make_key'] = out_df.assign(Model_Year = lambda x: x['Model_Year'].astype(str))[['Make','Model_short','Model_Year']].agg('_'.join,axis=1)



out_df.head(10)

Wall time: 2min 12s

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,...,Model,State,City,Auction_Year,Model_short,Odometer_Null,Odometer_Replace,Model_Age,County,make_key
0,5649.0,2019-10-02,1992 Acura INTEGRA GS,KY - LEXINGTON WEST,146073 A,3750.0,front end,NaN,NaN,FL RB,...,INTEGRA GS,KY,Lexington west,2019,INTEGRA,146073.0,146073.0,28,"Fayette, KY",ACURA_INTEGRA_1992
1,NaN,2019-06-18,1992 Acura INTEGRA LS,CA - SAN JOSE,182250 E,300.0,minor dent/scratches,NaN,NaN,CA CQ,...,INTEGRA LS,CA,San jose,2019,INTEGRA,NaN,178757.0,28,"Santa Clara, CA",ACURA_INTEGRA_1992
2,NaN,2019-05-24,1992 Acura VIGOR GS,NJ - SOMERVILLE,188301 A,575.0,front end,NaN,Mechanical,NJ CT,...,VIGOR GS,NJ,Somerville,2019,VIGOR,188301.0,188301.0,28,"Somerset, NJ",ACURA_VIGOR_1992
3,725.0,2018-11-26,1992 Acura INTEGRA GS,WA - NORTH SEATTLE,300930 E,325.0,front end,NaN,Mechanical,WA CT,...,INTEGRA GS,WA,North seattle,2018,INTEGRA,NaN,197187.0,27,"King, WA",ACURA_INTEGRA_1992
4,1450.0,2018-09-12,1992 Acura INTEGRA LS,NY - LONG ISLAND,260216 E,300.0,front end,NaN,NaN,NY CT,...,INTEGRA LS,NY,Long island,2018,INTEGRA,NaN,178757.0,27,"Queens, NY",ACURA_INTEGRA_1992
5,3250.0,2017-12-20,1992 Acura VIGOR GS,CA - MARTINEZ,205852 E,175.0,minor dent/scratches,NaN,Side,CA DQ,...,VIGOR GS,CA,Martinez,2017,VIGOR,NaN,216614.0,26,"Contra Costa, CA",ACURA_VIGOR_1992
6,NaN,2016-12-08,1992 Acura LEGEND L,MN - MINNEAPOLIS,144195 E,125.0,mechanical,NaN,HAIL,MN CT,...,LEGEND L,MN,Minneapolis,2016,LEGEND,NaN,233596.0,25,"Hennepin, MN",ACURA_LEGEND_1992
7,1960.0,2016-09-13,1992 Acura INTEGRA LS,TN - KNOXVILLE,309149 E,975.0,side,NaN,NaN,TN CT,...,INTEGRA LS,TN,Knoxville,2016,INTEGRA,NaN,178757.0,25,"Knox, TN",ACURA_INTEGRA_1992
8,NaN,2016-07-25,1992 Acura LEGEND LS,MD - BALTIMORE,104173 A,150.0,minor dent/scratches,NaN,NORMAL WEAR,MD CT,...,LEGEND LS,MD,Baltimore,2016,LEGEND,104173.0,104173.0,25,"Baltimore city, MD",ACURA_LEGEND_1992
9,NaN,2016-07-19,1992 Acura LEGEND L,NJ - GLASSBORO EAST,131385 A,200.0,normal wear,NaN,NaN,NJ CT,...,LEGEND L,NJ,Glassboro east,2016,LEGEND,131385.0,131385.0,25,"Gloucester, NJ",ACURA_LEGEND_1992

In [18]:
# cpi adj original data
base_year = 2010
def cpi_adj_Actual_Cash_Value(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['Auction_Year']]) * x['Actual_Cash_Value'],2)
    except:
        return x['Actual_Cash_Value']


out_df['Actual_Cash_Value_adj'] = out_df.apply(cpi_adj_Actual_Cash_Value
                                            ,axis=1)



def cpi_adj_Price_Sold_or_Highest_Bid(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['Auction_Year']]) * x['Price_Sold_or_Highest_Bid'],2)
    except:
        return x['Price_Sold_or_Highest_Bid']


out_df['Price_Sold_or_Highest_Bid_adj'] = out_df.apply(cpi_adj_Price_Sold_or_Highest_Bid
                                            ,axis=1)

def cpi_adj_Repair_Cost(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['Auction_Year']]) * x['Repair_Cost'],2)
    except:
        return x['Repair_Cost']

out_df['Repair_Cost_adj'] = out_df.apply(cpi_adj_Repair_Cost
                                            ,axis=1)

out_df['make_key'] = out_df.assign(Model_Year = lambda x: x['Model_Year'].astype(str))[['Make','Model_short','Model_Year']].agg('_'.join,axis=1)

#out_df['Make'].value_counts().to_dict()#.to_string()

In [ ]:
out_df.columns

In [19]:
Temp.save_obj(out_df, 'out_df_working')
out_df.to_csv(path_to_temp_csv+'full_working_df.csv')
# out_df = Temp.load_obj('out_df_working')

Object <1960662239944> saved to: c:\data\Datasets\SC-temp\

In [4]:
'''
END OF MAIN DATASET PREPROCESSING
'''

'\nEND OF MAIN DATASET PREPROCESSING\n'

In [5]:
'''
JOINING WITH DEMOGRAPHIC DATA 
'''


#read the demography data `

path_to_demograpyh =path_to_csv+'SC-working-folder\\demography.csv'

demog = pd.read_csv(path_to_demograpyh)

print('Demographic features:\n' , demog.columns.tolist())

Demographic features:
 ['index', 'Unemp-Pct-2014', 'Unemp-Pct-2015', 'Unemp-Pct-2016', 'Unemp-Pct-2017', 'Unemp-Pct-2018', 'Unemp-Pct-2013', 'Unemp-Pct-2012', 'Unemp-Pct-2011', 'Unemp-Pct-2010', 'Income_adj-1990', 'Income_adj-1991', 'Income_adj-1992', 'Income_adj-1993', 'Income_adj-1994', 'Income_adj-1995', 'Income_adj-1996', 'Income_adj-1997', 'Income_adj-1998', 'Income_adj-1999', 'Income_adj-2000', 'Income_adj-2001', 'Income_adj-2002', 'Income_adj-2003', 'Income_adj-2004', 'Income_adj-2005', 'Income_adj-2006', 'Income_adj-2007', 'Income_adj-2008', 'Income_adj-2009', 'Income_adj-2010', 'Income_adj-2011', 'Income_adj-2012', 'Income_adj-2013', 'Income_adj-2014', 'Income_adj-2015', 'Income_adj-2016', 'Income_adj-2017', 'CENSUS2010', 'CENSUS2011', 'CENSUS2012', 'CENSUS2013', 'CENSUS2014', 'CENSUS2015', 'CENSUS2016', 'CENSUS2017', 'CENSUS2018', 'GRNDTOT_2009', 'GRNDTOT_2010', 'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013', 'GRNDTOT_2014', 'GRNDTOT_2016', 'CPOPARST_2009', 'CPOPARST_2010', 'CPOPARST_2011', 'CPOPARST_2012', 'CPOPARST_2013', 'CPOPARST_2014', 'CPOPARST_2016']

In [6]:

#read carfax data
path_to_carfax =path_to_csv+'SC-carfax\\processed\\MSRP.csv'

carfax = pd.read_csv(path_to_carfax,index_col=0) 

#CPI Data
path_to_cpi = path_to_csv+'US-CPI\\SeriesReport-20191118124049_549fff.xlsx'
cpi_df = pd.read_excel(path_to_cpi,skiprows=11,index_col=0)['Annual'][:-2]; cpi_df


#read carfax data
path_to_carfax =path_to_csv+'SC-carfax\\processed\\MSRP.csv'

carfax = pd.read_csv(path_to_carfax,index_col=0) 
carfax['make'] = carfax['make'].str.upper()
carfax['model'] = carfax['model'].str.upper()
carfax['year'] = carfax['year'].astype(str)

carfax['make_key'] = carfax[['make','model','year']].agg('_'.join,axis=1)


carfax['Original_MSRP_mean'] =carfax[['Original_MSRP_low','Original_MSRP_high']].mean(axis=1)

#CPI adjusted income 
def cpi_adj_Original_MSRP_mean(x):
    try:
        
        return round((cpi_df[base_year] / cpi_df[x['year']]) * x['Original_MSRP_mean'],2)
    except:
        return x['Original_MSRP_mean']


carfax['Original_MSRP_mean_adj'] = carfax.apply(cpi_adj_Original_MSRP_mean
                                            ,axis=1)


#carfax['make'].value_counts().to_dict()#.to_string()
carfax.head()

,make,model,year,Original_MSRP_low,Original_MSRP_high,Original_MSRP_mean,Original_MSRP_mean_adj,make_key
0,ACURA,CL,2001,28460.0,30810.0,29635.0,29635.0,ACURA_CL_2001
1,ACURA,CL,2002,28530.0,32880.0,30705.0,30705.0,ACURA_CL_2002
2,ACURA,CL,2003,28700.0,31050.0,29875.0,29875.0,ACURA_CL_2003
3,ACURA,ILX,2013,25900.0,34400.0,30150.0,30150.0,ACURA_ILX_2013
4,ACURA,ILX,2014,26900.0,34600.0,30750.0,30750.0,ACURA_ILX_2014

In [7]:
# join original and carfex
out_df_carfix = pd.merge(out_df, carfax,  how='inner', on ='make_key').drop(columns='make_key')
#out_df_carfix['County']

out_df_carfix.head()

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,...,Actual_Cash_Value_adj,Price_Sold_or_Highest_Bid_adj,Repair_Cost_adj,make,model,year,Original_MSRP_low,Original_MSRP_high,Original_MSRP_mean,Original_MSRP_mean_adj
0,NaN,2019-10-21,2004 Oldsmobile ALERO GL,MD - BALTIMORE,151441 A,550.0,normal wear,NaN,Minor dent/scratches,MD CT,...,NaN,550.0,NaN,OLDSMOBILE,ALERO,2004,19110.0,23960.0,21535.0,21535.0
1,1304.0,2019-10-14,2004 Oldsmobile ALERO GL,TN - NASHVILLE,213655 E,800.0,front end,NaN,Rear end,TN CT,...,1304.0,800.0,NaN,OLDSMOBILE,ALERO,2004,19110.0,23960.0,21535.0,21535.0
2,2550.0,2019-09-30,2004 Oldsmobile ALERO GL,AZ - PHOENIX,0 N,400.0,burn,NaN,Minor dent/scratches,AZ CT,...,2550.0,400.0,NaN,OLDSMOBILE,ALERO,2004,19110.0,23960.0,21535.0,21535.0
3,2325.0,2019-09-19,2004 Oldsmobile ALERO GL,CA - SAN BERNARDINO,241435 A,200.0,front end,5712.0,Side,CA SC,...,2325.0,200.0,5712.0,OLDSMOBILE,ALERO,2004,19110.0,23960.0,21535.0,21535.0
4,2107.0,2018-07-17,2004 Oldsmobile ALERO GL,LA - BATON ROUGE,0 E,250.0,front end,2107.0,NaN,LA ST,...,2107.0,250.0,2107.0,OLDSMOBILE,ALERO,2004,19110.0,23960.0,21535.0,21535.0

In [8]:
# with open('var/final_columns.json') as f:
#     final_columns = json.load(f)['final_columns']

car_demo_joined = (pd.merge(out_df_carfix, demog,left_on='County',right_on='index',how='left')
                    .drop(columns=['Location','Description','Odometer','Sec_Damage','Title_State_Type','State', 'City','make', 'model','year'])					
                    )
				


print(car_demo_joined.shape, car_demo_joined.head(),'\n\n' ,car_demo_joined.columns)

(516218, 82)    Actual_Cash_Value Auction_Date  Price_Sold_or_Highest_Bid  Prim_Damage  \
0                NaN   2019-10-21                      550.0  normal wear
1             1304.0   2019-10-14                      800.0    front end
2             2550.0   2019-09-30                      400.0         burn
3             2325.0   2019-09-19                      200.0    front end
4             2107.0   2018-07-17                      250.0    front end

   Repair_Cost  Model_Year        Make     Model  Auction_Year Model_short  \
0          NaN        2004  OLDSMOBILE  ALERO GL          2019       ALERO
1          NaN        2004  OLDSMOBILE  ALERO GL          2019       ALERO
2          NaN        2004  OLDSMOBILE  ALERO GL          2019       ALERO
3       5712.0        2004  OLDSMOBILE  ALERO GL          2019       ALERO
4       2107.0        2004  OLDSMOBILE  ALERO GL          2018       ALERO

   ...  GRNDTOT_2013  GRNDTOT_2014  GRNDTOT_2016 CPOPARST_2009  CPOPARST_2010  \
0  ...           NaN           NaN           NaN           NaN            NaN
1  ...       54030.0       50131.0       45438.0      628812.0       621332.0
2  ...      168892.0      154617.0      136056.0     4017355.0      3816830.0
3  ...           NaN           NaN           NaN           NaN            NaN
4  ...           NaN           NaN           NaN           NaN            NaN

   CPOPARST_2011  CPOPARST_2012  CPOPARST_2013  CPOPARST_2014  CPOPARST_2016
0            NaN            NaN            NaN            NaN            NaN
1       626937.0       635244.0       649979.0       662275.0       687373.0
2      3870864.0      3922299.0      3997329.0      4086811.0      4248828.0
3            NaN            NaN            NaN            NaN            NaN
4            NaN            NaN            NaN            NaN            NaN

[5 rows x 82 columns]

 Index(['Actual_Cash_Value', 'Auction_Date', 'Price_Sold_or_Highest_Bid',
       'Prim_Damage', 'Repair_Cost', 'Model_Year', 'Make', 'Model',
       'Auction_Year', 'Model_short', 'Odometer_Null', 'Odometer_Replace',
       'Model_Age', 'County', 'Actual_Cash_Value_adj',
       'Price_Sold_or_Highest_Bid_adj', 'Repair_Cost_adj', 'Original_MSRP_low',
       'Original_MSRP_high', 'Original_MSRP_mean', 'Original_MSRP_mean_adj',
       'index', 'Unemp-Pct-2014', 'Unemp-Pct-2015', 'Unemp-Pct-2016',
       'Unemp-Pct-2017', 'Unemp-Pct-2018', 'Unemp-Pct-2013', 'Unemp-Pct-2012',
       'Unemp-Pct-2011', 'Unemp-Pct-2010', 'Income_adj-1990',
       'Income_adj-1991', 'Income_adj-1992', 'Income_adj-1993',
       'Income_adj-1994', 'Income_adj-1995', 'Income_adj-1996',
       'Income_adj-1997', 'Income_adj-1998', 'Income_adj-1999',
       'Income_adj-2000', 'Income_adj-2001', 'Income_adj-2002',
       'Income_adj-2003', 'Income_adj-2004', 'Income_adj-2005',
       'Income_adj-2006', 'Income_adj-2007', 'Income_adj-2008',
       'Income_adj-2009', 'Income_adj-2010', 'Income_adj-2011',
       'Income_adj-2012', 'Income_adj-2013', 'Income_adj-2014',
       'Income_adj-2015', 'Income_adj-2016', 'Income_adj-2017', 'CENSUS2010',
       'CENSUS2011', 'CENSUS2012', 'CENSUS2013', 'CENSUS2014', 'CENSUS2015',
       'CENSUS2016', 'CENSUS2017', 'CENSUS2018', 'GRNDTOT_2009',
       'GRNDTOT_2010', 'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013',
       'GRNDTOT_2014', 'GRNDTOT_2016', 'CPOPARST_2009', 'CPOPARST_2010',
       'CPOPARST_2011', 'CPOPARST_2012', 'CPOPARST_2013', 'CPOPARST_2014',
       'CPOPARST_2016'],
      dtype='object')

In [9]:
#create master demographic field 

# 1 Unemp-Pct

unemp_columns  = [col for col in car_demo_joined.columns if 'Unemp-Pct' in col]
print('working with ' ,unemp_columns)
def fetch_unemp_null(x):
    ''' Return the actual on the action date unemployment, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Unemp-Pct-{auction_y}']
    except:
        return

car_demo_joined['Unemp_pct_null'] = car_demo_joined.apply(fetch_unemp_null, axis=1)

unemp_available = np.array([2014,2015,2016,2017,2018,2013,2012,2011,2010])
def fetch_unemp_closest(x):
    ''' Return the actual on the action date unemployment, if none, return abs closest'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Unemp-Pct-{auction_y}']
    except:
        closest_year_ix = np.abs( unemp_available - x['Auction_Year']).argmin()
        closest_year = unemp_available[closest_year_ix]
        return x[f'Unemp-Pct-{closest_year}']

car_demo_joined['Unemp_pct_closest'] = car_demo_joined.apply(fetch_unemp_closest, axis=1)

working with  ['Unemp-Pct-2014', 'Unemp-Pct-2015', 'Unemp-Pct-2016', 'Unemp-Pct-2017', 'Unemp-Pct-2018', 'Unemp-Pct-2013', 'Unemp-Pct-2012', 'Unemp-Pct-2011', 'Unemp-Pct-2010']

In [10]:
# 2 Income_adj
inc_columns  = [col for col in car_demo_joined.columns if 'Income_adj' in col]
print('working with ' ,inc_columns)

def fetch_inc_null(x):
    ''' Return the actual on the action date income, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Income_adj-{auction_y}']
    except:
        return

car_demo_joined['Income_adj_null'] = car_demo_joined.apply(fetch_inc_null, axis=1)


income_available = np.arange(1990,2018)
def fetch_inc_closest(x):
    ''' Return the actual on the action date income, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'Income_adj-{auction_y}']
    except:
        closest_year_ix = np.abs( income_available - x['Auction_Year']).argmin()
        closest_year = income_available[closest_year_ix]
        return x[f'Income_adj-{closest_year}']

car_demo_joined['Income_adj_closest'] = car_demo_joined.apply(fetch_inc_closest, axis=1)

working with  ['Income_adj-1990', 'Income_adj-1991', 'Income_adj-1992', 'Income_adj-1993', 'Income_adj-1994', 'Income_adj-1995', 'Income_adj-1996', 'Income_adj-1997', 'Income_adj-1998', 'Income_adj-1999', 'Income_adj-2000', 'Income_adj-2001', 'Income_adj-2002', 'Income_adj-2003', 'Income_adj-2004', 'Income_adj-2005', 'Income_adj-2006', 'Income_adj-2007', 'Income_adj-2008', 'Income_adj-2009', 'Income_adj-2010', 'Income_adj-2011', 'Income_adj-2012', 'Income_adj-2013', 'Income_adj-2014', 'Income_adj-2015', 'Income_adj-2016', 'Income_adj-2017']

In [11]:
# 3 CENSUS
CENSUS_columns  = [col for col in car_demo_joined.columns if 'CENSUS' in col]
print('working with ' ,CENSUS_columns)

def CENSUS_null(x):
    ''' Return the actual on the action date CENSUS, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CENSUS{auction_y}']
    except:
        return

car_demo_joined['CENSUS_null'] = car_demo_joined.apply(CENSUS_null, axis=1)


CENSUS_available = np.arange(2010,2019)
def CENSUS_closest(x):
    ''' Return the actual on the action date CENSUS, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CENSUS{auction_y}']
    except:
        closest_year_ix = np.abs( CENSUS_available - x['Auction_Year']).argmin()
        closest_year = CENSUS_available[closest_year_ix]
        return x[f'CENSUS{closest_year}']

car_demo_joined['CENSUS_closest'] = car_demo_joined.apply(CENSUS_closest, axis=1)

working with  ['CENSUS2010', 'CENSUS2011', 'CENSUS2012', 'CENSUS2013', 'CENSUS2014', 'CENSUS2015', 'CENSUS2016', 'CENSUS2017', 'CENSUS2018']

In [12]:
# 4 - GRNDTOT
GRNDTOT_columns  = [col for col in car_demo_joined.columns if 'GRNDTOT' in col]
print('working with ' ,GRNDTOT_columns)

def GRNDTOT_null(x):
    ''' Return the actual on the action date GRNDTOT, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'GRNDTOT_{auction_y}']
    except:
        return

car_demo_joined['GRNDTOT_null'] = car_demo_joined.apply(GRNDTOT_null, axis=1)


GRNDTOT_available = np.array([2009,2010,2011,2012,2013,2014,2016])
def GRNDTOT_closest(x):
    ''' Return the actual on the action date GRNDTOT, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'GRNDTOT_{auction_y}']
    except:
        closest_year_ix = np.abs( GRNDTOT_available - x['Auction_Year']).argmin()
        closest_year = GRNDTOT_available[closest_year_ix]
        return x[f'GRNDTOT_{closest_year}']

car_demo_joined['GRNDTOT_closest'] = car_demo_joined.apply(GRNDTOT_closest, axis=1)

working with  ['GRNDTOT_2009', 'GRNDTOT_2010', 'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013', 'GRNDTOT_2014', 'GRNDTOT_2016']

In [13]:
# 5 - CPOPARST
CPOPARST_columns  = [col for col in car_demo_joined.columns if 'CPOPARST' in col]
print('working with ' ,GRNDTOT_columns)

def CPOPARST_null(x):
    ''' Return the actual on the action date CPOPARST, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CPOPARST_{auction_y}']
    except:
        return

car_demo_joined['CPOPARST_null'] = car_demo_joined.apply(CPOPARST_null, axis=1)


CPOPARST_available = np.array([2009,2010,2011,2012,2013,2014,2016])
def CPOPARST_closest(x):
    ''' Return the actual on the action date CPOPARST, if none, return None'''
    try:
        auction_y = str(x['Auction_Year'])
        return x[f'CPOPARST_{auction_y}']
    except:
        closest_year_ix = np.abs( CPOPARST_available - x['Auction_Year']).argmin()
        closest_year = CPOPARST_available[closest_year_ix]
        return x[f'CPOPARST_{closest_year}']

car_demo_joined['CPOPARST_closest'] = car_demo_joined.apply(CPOPARST_closest, axis=1)

working with  ['GRNDTOT_2009', 'GRNDTOT_2010', 'GRNDTOT_2011', 'GRNDTOT_2012', 'GRNDTOT_2013', 'GRNDTOT_2014', 'GRNDTOT_2016']

In [15]:
#remove yearly demographic data 
col_to_rem = [unemp_columns,inc_columns ,CENSUS_columns,GRNDTOT_columns,CPOPARST_columns]
from itertools import chain
col_to_rem_fl = list(chain.from_iterable(col_to_rem))
#col_to_rem#[np.array(i) for i in col_to_rem]

car_demo_joined = car_demo_joined.drop(columns=col_to_rem_fl)

In [18]:
car_demo_joined.loc[1].to_dict()

{'Actual_Cash_Value': 1304.0,
 'Auction_Date': Timestamp('2019-10-14 00:00:00'),
 'Price_Sold_or_Highest_Bid': 800.0,
 'Prim_Damage': 'front end',
 'Repair_Cost': nan,
 'Model_Year': 2004,
 'Make': 'OLDSMOBILE',
 'Model': 'ALERO GL',
 'Auction_Year': 2019,
 'Model_short': 'ALERO',
 'Odometer_Null': nan,
 'Odometer_Replace': 297038.0,
 'Model_Age': 16,
 'County': 'Davidson, TN',
 'Actual_Cash_Value_adj': 1304.0,
 'Price_Sold_or_Highest_Bid_adj': 800.0,
 'Repair_Cost_adj': nan,
 'Original_MSRP_low': 19110.0,
 'Original_MSRP_high': 23960.0,
 'Original_MSRP_mean': 21535.0,
 'Original_MSRP_mean_adj': 21535.0,
 'index': 'Davidson, TN',
 'Unemp_pct_null': nan,
 'Unemp_pct_closest': 2.6,
 'Income_adj_null': nan,
 'Income_adj_closest': 56100.136781984336,
 'CENSUS_null': nan,
 'CENSUS_closest': 692587.0,
 'GRNDTOT_null': nan,
 'GRNDTOT_closest': 45438.0,
 'CPOPARST_null': nan,
 'CPOPARST_closest': 687373.0}

In [ ]:
car_demo_joined.to_csv(path_to_temp_csv+'joint_working_df.csv')
Temp.save_obj(car_demo_joined,'car_demo_joined')

In [ ]:
'''
ANALYSIS
'''

In [ ]:
del out_df
out_df = Temp.load_obj('out_df_working')
# out_df = Temp.load_obj('car_demo_joined')

In [110]:
def geo_plot(make,model,model_year=None,auction_year=None):
    try:
        filtred = out_df.loc[(out_df['Make'] == make) & (out_df['Model_short'] == model) ]
        if model_year:
            filtred = filtred.loc[
            (out_df['Model_Year'] == model_year)]
        else:
            model_year = ''
        if auction_year:
            filtred = filtred.loc[(out_df['Auction_Year'] == auction_year)]
        else:
            auction_year = ''
        #extract state
        filtred = (filtred.drop('State',axis=1)
                    .join(filtred['County'].str.split(', ',expand=True)[1]
                    .rename('State')))
        states , mean_price = list(zip(*filtred.groupby('State')['Price_Sold_or_Highest_Bid'].mean().to_dict().items()))

        
        # type defined is choropleth to 
        # plot geographical plots 
        data = dict(type = 'choropleth', 
        
                    # location: Arizoana, California, Newyork 
                    locations = states, 
                    
                    # States of USA 
                    locationmode = 'USA-states', 
                    
                    # colorscale can be added as per requirement 
                    colorscale = 'Portland', 
                    
                    # text can be given anything you like 
                    # text = ['text 1', 'text 2', 'text 3'], 
                    z = mean_price, 
                    colorbar = {'title': f'{auction_year} Auction: {make} {model} {model_year}'}) 
                    
        layout = dict(geo ={'scope': 'usa'}) 
        
        # passing data dictionary as a list  
        choromap = go.Figure(data = [data], layout = layout) 

        choromap.write_image(f"png/{auction_year}-{make}-{model}-{model_year}.png")
        # plotting graph 
        iplot(choromap) 
    except Exception as e:
        print('Error:', e)
        return filtred

In [111]:
model_year = None
auction_year = None
make = 'TOYOTA'
model = 'COROLLA'
filtred = geo_plot(make,model,model_year,auction_year)

In [108]:
(filtred.drop('State',axis=1)
                    .join(filtred['County'].str.split(', ',expand=True)[1]
                    .rename('State')))

,Actual_Cash_Value,Auction_Date,Description,Location,Odometer,Price_Sold_or_Highest_Bid,Prim_Damage,Repair_Cost,Sec_Damage,Title_State_Type,...,Model_short,Odometer_Null,Odometer_Replace,Model_Age,County,make_key,Actual_Cash_Value_adj,Price_Sold_or_Highest_Bid_adj,Repair_Cost_adj,State
155109,8500.0,2019-04-06,1969 Toyota COROLLA,CA - HAYWARD,30076 E,2500.0,mechanical,NaN,Minor dent/scratches,CA CQ,...,COROLLA,NaN,58384.0,51,"Alameda, CA",TOYOTA_COROLLA_1969,8500.0,2500.0,NaN,CA
155111,NaN,2016-11-15,1969 Toyota COROLLA,CT - HARTFORD,58384 A,15000.0,normal wear,NaN,NaN,CT BS,...,COROLLA,58384.0,58384.0,48,"Hartford, CT",TOYOTA_COROLLA_1969,NaN,15000.0,NaN,CT
155906,9800.0,2016-02-12,1981 Toyota COROLLA DE,FL - TAMPA SOUTH,55888 E,4400.0,normal wear,NaN,NaN,FL CT,...,COROLLA,NaN,NaN,36,"Hillsborough, FL",TOYOTA_COROLLA_1981,9800.0,4400.0,NaN,FL
155909,NaN,2013-09-05,1981 Toyota COROLLA DE,TX - AUSTIN,33494 E,800.0,mechanical,NaN,NaN,TX CT,...,COROLLA,NaN,NaN,33,"Travis, TX",TOYOTA_COROLLA_1981,NaN,800.0,NaN,TX
155913,NaN,2015-11-09,1982 Toyota COROLLA DE,MA - SOUTH BOSTON,112252 E,1300.0,minor dent/scratches,NaN,NaN,CT CT,...,COROLLA,NaN,155122.0,34,"Suffolk, MA",TOYOTA_COROLLA_1982,NaN,1300.0,NaN,MA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301121,11374.0,2019-09-16,2018 Toyota COROLLA L,GA - ATLANTA EAST,71842 A,3300.0,rear end,16870.0,NaN,GA ST,...,COROLLA,71842.0,71842.0,2,"Fulton, GA",TOYOTA_COROLLA_2018,11374.0,3300.0,16870.0,GA
301126,15268.0,2019-09-13,2018 Toyota COROLLA L,CA - SAN DIEGO,9150 A,4800.0,front end,NaN,Minor dent/scratches,CA SC,...,COROLLA,9150.0,9150.0,2,"San Diego, CA",TOYOTA_COROLLA_2018,15268.0,4800.0,NaN,CA
301130,16825.0,2019-09-12,2018 Toyota COROLLA L,NM - ALBUQUERQUE,0 N,2250.0,all over,NaN,Biohazard/chemical,NM ST,...,COROLLA,NaN,71842.0,2,"Bernalillo, NM",TOYOTA_COROLLA_2018,16825.0,2250.0,NaN,NM
301134,NaN,2019-09-10,2018 Toyota COROLLA L,FL - MIAMI SOUTH,14755 A,7400.0,rear end,10464.0,Front end,FL RB,...,COROLLA,14755.0,14755.0,2,"Miami-Dade, FL",TOYOTA_COROLLA_2018,NaN,7400.0,10464.0,FL
301136,15095.0,2019-09-10,2018 Toyota COROLLA L,GA - TIFTON,6734 A,5900.0,front end,NaN,Rear end,GA ST,...,COROLLA,6734.0,6734.0,2,"Tift, GA",TOYOTA_COROLLA_2018,15095.0,5900.0,NaN,GA

In [ ]:
out_df.groupby('Make')['Model_Year'].count().sort_values(ascending=False)[:60]

In [ ]:
#explore outlyers for 
var_to_plot ='Model_Age'
fig, ax = plt.subplots(1,2,figsize=(7,5))
out_df[var_to_plot].plot.box(ax=ax[0])
out_df[var_to_plot].plot.box(ax=ax[1],showfliers =False)


fig.suptitle(var_to_plot)

In [ ]:
# filterd_acv = out_df[var_to_plot]
# filterd_acv_round = filterd_acv


# filterd_acv_round_vc = filterd_acv_round.value_counts().to_frame().reset_index().rename({'index':'level' , var_to_plot:'count'}, axis=1)
# filterd_acv_round_vc.to_csv('csv/outly.csv', index=False)

In [ ]:
#histogram

s = 20
e = 80
#display modes of the distribution 
try:
    filterd_acv = out_df[var_to_plot].loc[(out_df[var_to_plot] >s )& (out_df[var_to_plot] <e)]

    print('Counts:\n#>100k:'
                ,len(out_df[var_to_plot].loc[out_df[var_to_plot]>=1e5]))

except:
    filterd_acv = out_df[var_to_plot]




n = 1
filterd_acv_round = (filterd_acv // n ) * n

filterd_acv.plot.hist(title= var_to_plot+f' (between {s} and {e})',color='k', alpha=.4)

filterd_acv_round_vc = filterd_acv_round.value_counts().to_frame().reset_index().rename({'index':'level' , var_to_plot:'count'}, axis=1)
filterd_acv_round_vc.to_csv('csv/outly.csv', index=False)
# filterd_acv_round_vc

In [ ]:


#plot a histogram of observed cash_values
fig= plt.figure()
ax = filterd_acv.plot.hist()
ax.set(title = 'Histogram for Actual_Cash_Value < 10k');

In [ ]:
#fit  normat distribution

from scipy import stats

x = np.linspace(0,filterd_acv.max(),len(filterd_acv))
mu , std = stats.norm.fit(filterd_acv.values)

ax = filterd_acv.plot.hist(normed=True)
plt.plot(x, stats.norm.pdf(x , mu, std))
ax.set(title = 'Histogram for Actual_Cash_Value < 10k');
print('K-S p-value:', stats.kstest(filterd_acv.values , 'norm')[1])

In [ ]:

out_df['Model_Age'].describe().astype(int)

In [ ]:
#model_age
#check model age statsВ

out_df.loc[out_df['Model_Age'].loc[out_df['Model_Age']<0].index]

In [ ]:

numerical_fields =  ['Actual_Cash_Value'
               ,'Auction_Year'
       #'Odometer'
       , 'Price_Sold_or_Highest_Bid'
       , 'Repair_Cost'
        ,'Odometer_Null','Odometer_Replace'
        ,'Model_Age'
        ]

categorical_variables = ['Prim_Damage','Make','Model'
]

In [ ]:
#categories for all categorical variables 

# categorial_variables = ['Prim_Damage'
#                         ,'Sec_Damage'
#                         ,'Make'
#                         ,'Model' # - to many categories >2000
#
                        #  ]  
out_df[categorical_variables]  =out_df[categorical_variables].astype('category')

print(out_df[categorical_variables].describe().to_string(),'\n\n')

cat_df = {}
for col in categorical_variables:
    print(col, ' - ', out_df[col].cat.categories.tolist(),'\n')
    cat_df[col] = out_df[col].cat.categories.tolist()

In [ ]:
model_year_count = out_df['Model_Year'].value_counts()
print('total count:',out_df.shape[0],'\ntotal count (model_year >= 2000):', out_df.loc[out_df.Model_Year >=2000].shape[0])
model_year_count.head(20)Z

In [ ]:
out_df.columns

In [ ]:
out_df_describe = out_df[numerical_fields].describe(percentiles =[.01,.25, .5, .75,.99]).T

out_df_describe.to_csv('csv/summary_statistics.csv')

out_df_describe

In [ ]:
#Correlation Analysis
corr_table = out_df[numerical_fields].corr()

corr_table.to_csv('csv/correlation.csv')

corr_table

In [ ]:
numerical_fields_bins = {'Actual_Cash_Value' : [],
'Price_Sold_or_Highest_Bid': [],
'Repair_Cost': [],
'Odometer_Null': [],
'Odometer_Replace': [],
'Model_Age': }

In [ ]:
#histomgram for conitnuous variables
fig , axs = plt.subplots(len(numerical_fields) ,2, figsize=(12,29),sharex=False)


i=0
for var in numerical_fields:
    # hist_df_lb ,hist_df_hb = out_df[var].loc[lambda x: x <=3e4] , out_df[var].loc[lambda x: x >=1e4]
    df_to_print = (out_df[var] // 100).value_counts().to_frame().sort_values(by=var)
    df_to_print.to_csv(f'csv/{var}_hist.csv')
    print(df_to_print)
    # hist_df_lb.plot.hist(bins=10, ax= axs[i][0])
    # hist_df_hb.plot.hist(bins=10, ax= axs[i][1])
    
    # axs[i][0].set(title = var + ' <100k bin')
    # axs[i][1].set(title = var + ' >100k bin')
    i+=1

In [ ]:
#market size

market_size = out_df.groupby(out_df['Auction_Date'].dt.year)['Actual_Cash_Value'].sum()

market_size =  market_size / 1000000

print(market_size.to_string())
plt.figure(figsize=(10,4))
ax = market_size.plot.bar()
ax.set(title='Market Size', ylabel='$, millions');

In [ ]:
out_df[categorical_variables]

from DataProcessing.DataStats import get_df_stats

get_df_stats(out_df[categorical_variables])

In [ ]:
out_df.columns

In [ ]:
#value distribution for Description 

desc_val_dist = out_df['Description'].value_counts()

desc_val_dist[:30]

In [ ]:
#value distribution for Prim Damage 

prim_val_dist = out_df['Prim_Damage'].value_counts()

prim_val_dist[:30]

In [ ]:
#summary statistics conditions on Prim_Damage

cond_on_primd = out_df.groupby('Prim_Damage').agg(['mean','var']).stack().sort_index(level=1)
cond_on_primd.index = ['{} - {}'.format(j, i) for i, j in cond_on_primd.index]
cond_on_primd

In [ ]:
#summary statistics conditions on Make

cond_on_make = out_df.groupby('Make').agg(['mean','var']).stack().sort_index(level=1)
cond_on_make.index = ['{} - {}'.format(j, i) for i, j in cond_on_make.index]
cond_on_make.to_csv('csv/temp.csv')

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(cond_on_make)

In [ ]:
by_couny = (car_demo_joined.reset_index()
             .groupby('County')['index']
             .count().sort_values(ascending=False)
           )

print(by_couny.to_string())

In [ ]:
plt.figure()
ax = by_couny[:20].plot.bar()
ax.set(title='Top 20 Counties by # records',ylabel='# observations');

In [ ]:
#categories for all categorical variables 
# categorial_variables = ['Prim_Damage'
#                         ,'Sec_Damage'
#                         ,'Make'
#                         ,'Model' # - to many categories >2000
#
                        #  ]  
out_df[categorial_variables]  =out_df[categorial_variables].astype('category')

print(out_df[categorial_variables].describe().to_string(),'\n\n')

cat_df = {}
for col in categorial_variables:
    print(col, ' - ', out_df[col].cat.categories.tolist(),'\n')
    cat_df[col] = out_df[col].cat.categories.tolist()